﻿.row {
	margin-right: -10px;
	margin-left: -10px
}

.col-xs-1,.col-sm-1,.col-md-1,.col-lg-1,.col-xs-2,.col-sm-2,.col-md-2,.col-lg-2,.col-xs-3,.col-sm-3,.col-md-3,.col-lg-3,.col-xs-4,.col-sm-4,.col-md-4,.col-lg-4,.col-xs-5,.col-sm-5,.col-md-5,.col-lg-5,.col-xs-6,.col-sm-6,.col-md-6,.col-lg-6,.col-xs-7,.col-sm-7,.col-md-7,.col-lg-7,.col-xs-8,.col-sm-8,.col-md-8,.col-lg-8,.col-xs-9,.col-sm-9,.col-md-9,.col-lg-9,.col-xs-10,.col-sm-10,.col-md-10,.col-lg-10,.col-xs-11,.col-sm-11,.col-md-11,.col-lg-11,.col-xs-12,.col-sm-12,.col-md-12,.col-lg-12 {
	position: relative;
	min-height: 1px;
	padding-right: 10px;
	padding-left: 10px
}

.col-xs-1,.col-xs-2,.col-xs-3,.col-xs-4,.col-xs-5,.col-xs-6,.col-xs-7,.col-xs-8,.col-xs-9,.col-xs-10,.col-xs-11,.col-xs-12 {
	float: left
}

.col-xs-1 {
	width: 8.33333%
}

.col-xs-2 {
	width: 16.66667%
}

.col-xs-3 {
	width: 25%
}

.col-xs-4 {
	width: 33.33333%
}

.col-xs-5 {
	width: 41.66667%
}

.col-xs-6 {
	width: 50%
}

.col-xs-7 {
	width: 58.33333%
}

.col-xs-8 {
	width: 66.66667%
}

.col-xs-9 {
	width: 75%
}

.col-xs-10 {
	width: 83.33333%
}

.col-xs-11 {
	width: 91.66667%
}

.col-xs-12 {
	width: 100%
}

.col-xs-pull-0 {
	right: auto
}

.col-xs-pull-1 {
	right: 8.33333%
}

.col-xs-pull-2 {
	right: 16.66667%
}

.col-xs-pull-3 {
	right: 25%
}

.col-xs-pull-4 {
	right: 33.33333%
}

.col-xs-pull-5 {
	right: 41.66667%
}

.col-xs-pull-6 {
	right: 50%
}

.col-xs-pull-7 {
	right: 58.33333%
}

.col-xs-pull-8 {
	right: 66.66667%
}

.col-xs-pull-9 {
	right: 75%
}

.col-xs-pull-10 {
	right: 83.33333%
}

.col-xs-pull-11 {
	right: 91.66667%
}

.col-xs-pull-12 {
	right: 100%
}

.col-xs-push-0 {
	left: auto
}

.col-xs-push-1 {
	left: 8.33333%
}

.col-xs-push-2 {
	left: 16.66667%
}

.col-xs-push-3 {
	left: 25%
}

.col-xs-push-4 {
	left: 33.33333%
}

.col-xs-push-5 {
	left: 41.66667%
}

.col-xs-push-6 {
	left: 50%
}

.col-xs-push-7 {
	left: 58.33333%
}

.col-xs-push-8 {
	left: 66.66667%
}

.col-xs-push-9 {
	left: 75%
}

.col-xs-push-10 {
	left: 83.33333%
}

.col-xs-push-11 {
	left: 91.66667%
}

.col-xs-push-12 {
	left: 100%
}

.col-xs-offset-0 {
	margin-left: 0%
}

.col-xs-offset-1 {
	margin-left: 8.33333%
}

.col-xs-offset-2 {
	margin-left: 16.66667%
}

.col-xs-offset-3 {
	margin-left: 25%
}

.col-xs-offset-4 {
	margin-left: 33.33333%
}

.col-xs-offset-5 {
	margin-left: 41.66667%
}

.col-xs-offset-6 {
	margin-left: 50%
}

.col-xs-offset-7 {
	margin-left: 58.33333%
}

.col-xs-offset-8 {
	margin-left: 66.66667%
}

.col-xs-offset-9 {
	margin-left: 75%
}

.col-xs-offset-10 {
	margin-left: 83.33333%
}

.col-xs-offset-11 {
	margin-left: 91.66667%
}

.col-xs-offset-12 {
	margin-left: 100%
}

@media (min-width: 768px) {
	.col-sm-1,.col-sm-2,.col-sm-3,.col-sm-4,.col-sm-5,.col-sm-6,.col-sm-7,.col-sm-8,.col-sm-9,.col-sm-10,.col-sm-11,.col-sm-12 {
		float: left
	}

	.col-sm-1 {
		width: 8.33333%
	}

	.col-sm-2 {
		width: 16.66667%
	}

	.col-sm-3 {
		width: 25%
	}

	.col-sm-4 {
		width: 33.33333%
	}

	.col-sm-5 {
		width: 41.66667%
	}

	.col-sm-6 {
		width: 50%
	}

	.col-sm-7 {
		width: 58.33333%
	}

	.col-sm-8 {
		width: 66.66667%
	}

	.col-sm-9 {
		width: 75%
	}

	.col-sm-10 {
		width: 83.33333%
	}

	.col-sm-11 {
		width: 91.66667%
	}

	.col-sm-12 {
		width: 100%
	}

	.col-sm-pull-0 {
		right: auto
	}

	.col-sm-pull-1 {
		right: 8.33333%
	}

	.col-sm-pull-2 {
		right: 16.66667%
	}

	.col-sm-pull-3 {
		right: 25%
	}

	.col-sm-pull-4 {
		right: 33.33333%
	}

	.col-sm-pull-5 {
		right: 41.66667%
	}

	.col-sm-pull-6 {
		right: 50%
	}

	.col-sm-pull-7 {
		right: 58.33333%
	}

	.col-sm-pull-8 {
		right: 66.66667%
	}

	.col-sm-pull-9 {
		right: 75%
	}

	.col-sm-pull-10 {
		right: 83.33333%
	}

	.col-sm-pull-11 {
		right: 91.66667%
	}

	.col-sm-pull-12 {
		right: 100%
	}

	.col-sm-push-0 {
		left: auto
	}

	.col-sm-push-1 {
		left: 8.33333%
	}

	.col-sm-push-2 {
		left: 16.66667%
	}

	.col-sm-push-3 {
		left: 25%
	}

	.col-sm-push-4 {
		left: 33.33333%
	}

	.col-sm-push-5 {
		left: 41.66667%
	}

	.col-sm-push-6 {
		left: 50%
	}

	.col-sm-push-7 {
		left: 58.33333%
	}

	.col-sm-push-8 {
		left: 66.66667%
	}

	.col-sm-push-9 {
		left: 75%
	}

	.col-sm-push-10 {
		left: 83.33333%
	}

	.col-sm-push-11 {
		left: 91.66667%
	}

	.col-sm-push-12 {
		left: 100%
	}

	.col-sm-offset-0 {
		margin-left: 0%
	}

	.col-sm-offset-1 {
		margin-left: 8.33333%
	}

	.col-sm-offset-2 {
		margin-left: 16.66667%
	}

	.col-sm-offset-3 {
		margin-left: 25%
	}

	.col-sm-offset-4 {
		margin-left: 33.33333%
	}

	.col-sm-offset-5 {
		margin-left: 41.66667%
	}

	.col-sm-offset-6 {
		margin-left: 50%
	}

	.col-sm-offset-7 {
		margin-left: 58.33333%
	}

	.col-sm-offset-8 {
		margin-left: 66.66667%
	}

	.col-sm-offset-9 {
		margin-left: 75%
	}

	.col-sm-offset-10 {
		margin-left: 83.33333%
	}

	.col-sm-offset-11 {
		margin-left: 91.66667%
	}

	.col-sm-offset-12 {
		margin-left: 100%
	}
}

@media (min-width: 992px) {
	.col-md-1,.col-md-2,.col-md-3,.col-md-4,.col-md-5,.col-md-6,.col-md-7,.col-md-8,.col-md-9,.col-md-10,.col-md-11,.col-md-12 {
		float: left
	}

	.col-md-1 {
		width: 8.33333%
	}

	.col-md-2 {
		width: 16.66667%
	}

	.col-md-3 {
		width: 25%
	}

	.col-md-4 {
		width: 33.33333%
	}

	.col-md-5 {
		width: 41.66667%
	}

	.col-md-6 {
		width: 50%
	}

	.col-md-7 {
		width: 58.33333%
	}

	.col-md-8 {
		width: 66.66667%
	}

	.col-md-9 {
		width: 75%
	}

	.col-md-10 {
		width: 83.33333%
	}

	.col-md-11 {
		width: 91.66667%
	}

	.col-md-12 {
		width: 100%
	}

	.col-md-pull-0 {
		right: auto
	}

	.col-md-pull-1 {
		right: 8.33333%
	}

	.col-md-pull-2 {
		right: 16.66667%
	}

	.col-md-pull-3 {
		right: 25%
	}

	.col-md-pull-4 {
		right: 33.33333%
	}

	.col-md-pull-5 {
		right: 41.66667%
	}

	.col-md-pull-6 {
		right: 50%
	}

	.col-md-pull-7 {
		right: 58.33333%
	}

	.col-md-pull-8 {
		right: 66.66667%
	}

	.col-md-pull-9 {
		right: 75%
	}

	.col-md-pull-10 {
		right: 83.33333%
	}

	.col-md-pull-11 {
		right: 91.66667%
	}

	.col-md-pull-12 {
		right: 100%
	}

	.col-md-push-0 {
		left: auto
	}

	.col-md-push-1 {
		left: 8.33333%
	}

	.col-md-push-2 {
		left: 16.66667%
	}

	.col-md-push-3 {
		left: 25%
	}

	.col-md-push-4 {
		left: 33.33333%
	}

	.col-md-push-5 {
		left: 41.66667%
	}

	.col-md-push-6 {
		left: 50%
	}

	.col-md-push-7 {
		left: 58.33333%
	}

	.col-md-push-8 {
		left: 66.66667%
	}

	.col-md-push-9 {
		left: 75%
	}

	.col-md-push-10 {
		left: 83.33333%
	}

	.col-md-push-11 {
		left: 91.66667%
	}

	.col-md-push-12 {
		left: 100%
	}

	.col-md-offset-0 {
		margin-left: 0%
	}

	.col-md-offset-1 {
		margin-left: 8.33333%
	}

	.col-md-offset-2 {
		margin-left: 16.66667%
	}

	.col-md-offset-3 {
		margin-left: 25%
	}

	.col-md-offset-4 {
		margin-left: 33.33333%
	}

	.col-md-offset-5 {
		margin-left: 41.66667%
	}

	.col-md-offset-6 {
		margin-left: 50%
	}

	.col-md-offset-7 {
		margin-left: 58.33333%
	}

	.col-md-offset-8 {
		margin-left: 66.66667%
	}

	.col-md-offset-9 {
		margin-left: 75%
	}

	.col-md-offset-10 {
		margin-left: 83.33333%
	}

	.col-md-offset-11 {
		margin-left: 91.66667%
	}

	.col-md-offset-12 {
		margin-left: 100%
	}
}

@media (min-width: 1200px) {
	.col-lg-1,.col-lg-2,.col-lg-3,.col-lg-4,.col-lg-5,.col-lg-6,.col-lg-7,.col-lg-8,.col-lg-9,.col-lg-10,.col-lg-11,.col-lg-12 {
		float: left
	}

	.col-lg-1 {
		width: 8.33333%
	}

	.col-lg-2 {
		width: 16.66667%
	}

	.col-lg-3 {
		width: 25%
	}

	.col-lg-4 {
		width: 33.33333%
	}

	.col-lg-5 {
		width: 41.66667%
	}

	.col-lg-6 {
		width: 50%
	}

	.col-lg-7 {
		width: 58.33333%
	}

	.col-lg-8 {
		width: 66.66667%
	}

	.col-lg-9 {
		width: 75%
	}

	.col-lg-10 {
		width: 83.33333%
	}

	.col-lg-11 {
		width: 91.66667%
	}

	.col-lg-12 {
		width: 100%
	}

	.col-lg-pull-0 {
		right: auto
	}

	.col-lg-pull-1 {
		right: 8.33333%
	}

	.col-lg-pull-2 {
		right: 16.66667%
	}

	.col-lg-pull-3 {
		right: 25%
	}

	.col-lg-pull-4 {
		right: 33.33333%
	}

	.col-lg-pull-5 {
		right: 41.66667%
	}

	.col-lg-pull-6 {
		right: 50%
	}

	.col-lg-pull-7 {
		right: 58.33333%
	}

	.col-lg-pull-8 {
		right: 66.66667%
	}

	.col-lg-pull-9 {
		right: 75%
	}

	.col-lg-pull-10 {
		right: 83.33333%
	}

	.col-lg-pull-11 {
		right: 91.66667%
	}

	.col-lg-pull-12 {
		right: 100%
	}

	.col-lg-push-0 {
		left: auto
	}

	.col-lg-push-1 {
		left: 8.33333%
	}

	.col-lg-push-2 {
		left: 16.66667%
	}

	.col-lg-push-3 {
		left: 25%
	}

	.col-lg-push-4 {
		left: 33.33333%
	}

	.col-lg-push-5 {
		left: 41.66667%
	}

	.col-lg-push-6 {
		left: 50%
	}

	.col-lg-push-7 {
		left: 58.33333%
	}

	.col-lg-push-8 {
		left: 66.66667%
	}

	.col-lg-push-9 {
		left: 75%
	}

	.col-lg-push-10 {
		left: 83.33333%
	}

	.col-lg-push-11 {
		left: 91.66667%
	}

	.col-lg-push-12 {
		left: 100%
	}

	.col-lg-offset-0 {
		margin-left: 0%
	}

	.col-lg-offset-1 {
		margin-left: 8.33333%
	}

	.col-lg-offset-2 {
		margin-left: 16.66667%
	}

	.col-lg-offset-3 {
		margin-left: 25%
	}

	.col-lg-offset-4 {
		margin-left: 33.33333%
	}

	.col-lg-offset-5 {
		margin-left: 41.66667%
	}

	.col-lg-offset-6 {
		margin-left: 50%
	}

	.col-lg-offset-7 {
		margin-left: 58.33333%
	}

	.col-lg-offset-8 {
		margin-left: 66.66667%
	}

	.col-lg-offset-9 {
		margin-left: 75%
	}

	.col-lg-offset-10 {
		margin-left: 83.33333%
	}

	.col-lg-offset-11 {
		margin-left: 91.66667%
	}

	.col-lg-offset-12 {
		margin-left: 100%
	}
}

.nav {
	padding-left: 0;
	margin-bottom: 0;
	list-style: none
}

.nav:before,.nav:after {
	display: table;
	content: " "
}

.nav:after {
	clear: both
}

.nav>li {
	position: relative;
	display: block
}

.nav>li>a {
	position: relative;
	display: block;
	padding: 10px 15px
}

.nav>li>a:hover,.nav>li>a:focus {
	text-decoration: none;
	background-color: transparence
}

.nav>li.disabled>a {
	color: #777
}

.nav>li.disabled>a:hover,.nav>li.disabled>a:focus {
	color: #777;
	text-decoration: none;
	cursor: not-allowed;
	background-color: transparent
}

.nav .open>a,.nav .open>a:hover,.nav .open>a:focus {
	background-color: transparence;
	border-color: #0293db
}

.nav .nav-divider {
	height: 1px;
	margin: 9px 0;
	overflow: hidden;
	background-color: #e5e5e5
}

.nav>li>a>img {
	max-width: none
}

.nav-tabs {
	border-bottom: 1px solid #ddd
}

.nav-tabs>li {
	float: left;
	margin-bottom: -1px
}

.nav-tabs>li>a {
	margin-right: 2px;
	line-height: 1.42857;
	border: 1px solid transparent;
	border-radius: 4px 4px 0 0
}

.nav-tabs>li>a:hover {
	border-color: #eee #eee #ddd
}

.nav-tabs>li.active>a,.nav-tabs>li.active>a:hover,.nav-tabs>li.active>a:focus {
	color: #555;
	cursor: default;
	background-color: #fff;
	border: 1px solid #ddd;
	border-bottom-color: transparent
}

.nav-pills>li {
	float: left
}

.nav-pills>li>a {
	border-radius: 4px
}

.nav-pills>li+li {
	margin-left: 2px
}

.nav-pills>li.active>a,.nav-pills>li.active>a:hover,.nav-pills>li.active>a:focus {
	color: #fff;
	background-color: #ff4d4d
}

.nav-stacked>li {
	float: none
}

.nav-stacked>li+li {
	margin-top: 2px;
	margin-left: 0
}

.nav-justified,.nav-tabs.nav-justified {
	width: 100%
}

.nav-justified>li,.nav-tabs.nav-justified>li {
	float: none
}

.nav-justified>li>a,.nav-tabs.nav-justified>li>a {
	margin-bottom: 5px;
	text-align: center
}

.nav-justified>.dropdown .dropdown-menu {
	top: auto;
	left: auto
}

@media (min-width: 768px) {
	.nav-justified>li,.nav-tabs.nav-justified>li {
		display: table-cell;
		width: 1%
	}

	.nav-justified>li>a,.nav-tabs.nav-justified>li>a {
		margin-bottom: 0
	}
}

.nav-tabs-justified,.nav-tabs.nav-justified {
	border-bottom: 0
}

.nav-tabs-justified>li>a,.nav-tabs.nav-justified>li>a {
	margin-right: 0;
	border-radius: 4px
}

.nav-tabs-justified>.active>a,.nav-tabs.nav-justified>.active>a,.nav-tabs-justified>.active>a:hover,.nav-tabs.nav-justified>.active>a:hover,.nav-tabs-justified>.active>a:focus,.nav-tabs.nav-justified>.active>a:focus {
	border: 1px solid #ddd
}

@media (min-width: 768px) {
	.nav-tabs-justified>li>a,.nav-tabs.nav-justified>li>a {
		border-bottom: 1px solid #ddd;
		border-radius: 4px 4px 0 0
	}

	.nav-tabs-justified>.active>a,.nav-tabs.nav-justified>.active>a,.nav-tabs-justified>.active>a:hover,.nav-tabs.nav-justified>.active>a:hover,.nav-tabs-justified>.active>a:focus,.nav-tabs.nav-justified>.active>a:focus {
		border-bottom-color: #fff
	}
}

.tab-content>.tab-pane {
	display: none
}

.tab-content>.active {
	display: block
}

.nav-tabs .dropdown-menu {
	margin-top: -1px;
	border-top-left-radius: 0;
	border-top-right-radius: 0
}

.navbar {
	position: relative;
	min-height: 50px;
	margin-bottom: 20px;
	border: 1px solid transparent
}

.navbar:before,.navbar:after {
	display: table;
	content: " "
}

.navbar:after {
	clear: both
}
/*
@media (min-width: 768px) {
	.navbar {
		border-radius: 4px
	}
}
*/

.p-0 {
	padding: 0px !important
}

.pt-0 {
	padding-top: 0px !important
}

.pr-0 {
	padding-right: 0px !important
}

.pb-0 {
	padding-bottom: 0px !important
}

.pl-0 {
	padding-left: 0px !important
}

.py-0 {
	padding-bottom: 0px !important;
	padding-top: 0px !important
}

.px-0 {
	padding-left: 0px !important;
	padding-right: 0px !important
}

.m-0 {
	margin: 0px !important
}

.mt-0 {
	margin-top: 0px !important
}

.mr-0 {
	margin-right: 0px !important
}

.mb-0 {
	margin-bottom: 0px !important
}

.ml-0 {
	margin-left: 0px !important
}

.my-0 {
	margin-bottom: 0px !important;
	margin-top: 0px !important
}

.mx-0 {
	margin-left: 0px !important;
	margin-right: 0px !important
}

.p-1 {
	padding: 10px !important
}

.pt-1 {
	padding-top: 10px !important
}

.pr-1 {
	padding-right: 10px !important
}

.pb-1 {
	padding-bottom: 10px !important
}

.pl-1 {
	padding-left: 10px !important
}

.py-1 {
	padding-bottom: 10px !important;
	padding-top: 10px !important
}

.px-1 {
	padding-left: 10px !important;
	padding-right: 10px !important
}

.m-1 {
	margin: 10px !important
}

.mt-1 {
	margin-top: 10px !important
}

.mr-1 {
	margin-right: 10px !important
}

.mb-1 {
	margin-bottom: 10px !important
}

.ml-1 {
	margin-left: 10px !important
}

.my-1 {
	margin-bottom: 10px !important;
	margin-top: 10px !important
}

.mx-1 {
	margin-left: 10px !important;
	margin-right: 10px !important
}

.p-2 {
	padding: 20px !important
}

.pt-2 {
	padding-top: 20px !important
}

.pr-2 {
	padding-right: 20px !important
}

.pb-2 {
	padding-bottom: 20px !important
}

.pl-2 {
	padding-left: 20px !important
}

.py-2 {
	padding-bottom: 20px !important;
	padding-top: 20px !important
}

.px-2 {
	padding-left: 20px !important;
	padding-right: 20px !important
}

.m-2 {
	margin: 20px !important
}

.mt-2 {
	margin-top: 20px !important
}

.mr-2 {
	margin-right: 20px !important
}

.mb-2 {
	margin-bottom: 20px !important
}

.ml-2 {
	margin-left: 20px !important
}

.my-2 {
	margin-bottom: 20px !important;
	margin-top: 20px !important
}

.mx-2 {
	margin-left: 20px !important;
	margin-right: 20px !important
}

.p-3 {
	padding: 30px !important
}

.pt-3 {
	padding-top: 30px !important
}

.pr-3 {
	padding-right: 30px !important
}

.pb-3 {
	padding-bottom: 30px !important
}

.pl-3 {
	padding-left: 30px !important
}

.py-3 {
	padding-bottom: 30px !important;
	padding-top: 30px !important
}

.px-3 {
	padding-left: 30px !important;
	padding-right: 30px !important
}

.m-3 {
	margin: 30px !important
}

.mt-3 {
	margin-top: 30px !important
}

.mr-3 {
	margin-right: 30px !important
}

.mb-3 {
	margin-bottom: 30px !important
}

.ml-3 {
	margin-left: 30px !important
}

.my-3 {
	margin-bottom: 30px !important;
	margin-top: 30px !important
}

.mx-3 {
	margin-left: 30px !important;
	margin-right: 30px !important
}

.p-4 {
	padding: 40px !important
}

.pt-4 {
	padding-top: 40px !important
}

.pr-4 {
	padding-right: 40px !important
}

.pb-4 {
	padding-bottom: 40px !important
}

.pl-4 {
	padding-left: 40px !important
}

.py-4 {
	padding-bottom: 40px !important;
	padding-top: 40px !important
}

.px-4 {
	padding-left: 40px !important;
	padding-right: 40px !important
}

.m-4 {
	margin: 40px !important
}

.mt-4 {
	margin-top: 40px !important
}

.mr-4 {
	margin-right: 40px !important
}

.mb-4 {
	margin-bottom: 40px !important
}

.ml-4 {
	margin-left: 40px !important
}

.my-4 {
	margin-bottom: 40px !important;
	margin-top: 40px !important
}

.mx-4 {
	margin-left: 40px !important;
	margin-right: 40px !important
}

.p-5 {
	padding: 50px !important
}

.pt-5 {
	padding-top: 50px !important
}

.pr-5 {
	padding-right: 50px !important
}

.pb-5 {
	padding-bottom: 50px !important
}

.pl-5 {
	padding-left: 50px !important
}

.py-5 {
	padding-bottom: 50px !important;
	padding-top: 50px !important
}

.px-5 {
	padding-left: 50px !important;
	padding-right: 50px !important
}

.m-5 {
	margin: 50px !important
}

.mt-5 {
	margin-top: 50px !important
}

.mr-5 {
	margin-right: 50px !important
}

.mb-5 {
	margin-bottom: 50px !important
}

.ml-5 {
	margin-left: 50px !important
}

.my-5 {
	margin-bottom: 50px !important;
	margin-top: 50px !important
}

.mx-5 {
	margin-left: 50px !important;
	margin-right: 50px !important
}

.col-lg-5p,.col-md-5p,.col-sm-5p,.col-xs-5p {
	position: relative;
	min-height: 1px;
	padding-right: 10px;
	padding-left: 10px;
	float: left
}

.col-xs-5p {
	width: 20%
}

@media (min-width: 768px) {
	.col-sm-5p {
		width: 20%
	}
}

@media (min-width: 992px) {
	.col-md-5p {
		width: 20%
	}
}

@media (min-width: 1200px) {
	.col-lg-5p {
		width: 20%
	}
}

.col-lg-7p,.col-md-7p,.col-sm-7p,.col-xs-7p {
	position: relative;
	min-height: 1px;
	padding-right: 10px;
	padding-left: 10px;
	float: left
}

.col-xs-7p {
	width: 14.28571%
}

@media (min-width: 768px) {
	.col-sm-7p {
		width: 14.28571%
	}
}

@media (min-width: 992px) {
	.col-md-7p {
		width: 14.28571%
	}
}

@media (min-width: 1200px) {
	.col-lg-7p {
		width: 14.28571%
	}
}

.col-lg-8p,.col-md-8p,.col-sm-8p,.col-xs-8p {
	position: relative;
	min-height: 1px;
	padding-right: 10px;
	padding-left: 10px;
	float: left
}

.col-xs-8p {
	width: 12.5%
}

@media (min-width: 768px) {
	.col-sm-8p {
		width: 12.5%
	}
}

@media (min-width: 992px) {
	.col-md-8p {
		width: 12.5%
	}
}

@media (min-width: 1200px) {
	.col-lg-8p {
		width: 12.5%
	}
}

.col-lg-9p,.col-md-9p,.col-sm-9p,.col-xs-9p {
	position: relative;
	min-height: 1px;
	padding-right: 10px;
	padding-left: 10px;
	float: left
}

.col-xs-9p {
	width: 11.11111%
}

@media (min-width: 768px) {
	.col-sm-9p {
		width: 11.11111%
	}
}

@media (min-width: 992px) {
	.col-md-9p {
		width: 11.11111%
	}
}

@media (min-width: 1200px) {
	.col-lg-9p {
		width: 11.11111%
	}
}

.col-lg-10p,.col-md-10p,.col-sm-10p,.col-xs-10p {
	position: relative;
	min-height: 1px;
	padding-right: 10px;
	padding-left: 10px;
	float: left
}

.col-xs-10p {
	width: 10%
}

@media (min-width: 768px) {
	.col-sm-10p {
		width: 10%
	}
}

@media (min-width: 992px) {
	.col-md-10p {
		width: 10%
	}
}

@media (min-width: 1200px) {
	.col-lg-10p {
		width: 10%
	}
}

body.common-home .vital-module.bg-bargain .widget-title>span {
	background: #10c55b
}

body.common-home .vital-module.bg-bargain .widget-title>span:before {
	border-right: 5px solid #069441
}

body.common-home .vital-module.bg-bargain .widget-title>span:after {
	border-left: 5px solid #069441
}

body.common-home .vital-module.bg-flash {
	border-color: #ff5c01
}

body.common-home .vital-module.bg-flash .widget-title>span {
	background: #ff5c01
}

body.common-home .vital-module.bg-buying {
	border-color: #dd00a7
}

body.common-home .vital-module.bg-buying .widget-title>span {
	background: #dd00a7
}

body.common-home .vital-module.bg-buying .widget-title>span:before {
	border-right: 5px solid #840264
}

body.common-home .vital-module.bg-buying .widget-title>span:after {
	border-left: 5px solid #840264
}

body.common-home .vital-module .widget-title {
	margin: 0 0 20px -12px;
	border-bottom: none
}

body.common-home .vital-module .widget-title>span {
	background: #ff4d4d;
	padding: 10px 20px;
	margin-top: -6px;
	color: #fff;
	font-size: 18px;
	position: relative;
	border-radius: 0 0 6px 6px
}

body.common-home .vital-module .widget-title>span i {
	font-size: 20px
}

body.common-home .vital-module .widget-title>span:before {
	content: "";
	position: absolute;
	left: -10px;
	top: 0px;
	width: 0px;
	height: 0px;
	border-bottom: none;
	bottom: auto;
	border-left: 5px solid transparent;
	border-top: 5px solid transparent;
	border-right: 5px solid #e75300
}

body.common-home .vital-module .widget-title>span:after {
	content: "";
	position: absolute;
	right: -10px;
	left: auto;
	top: 0px;
	bottom: auto;
	width: 0px;
	height: 0px;
	border-right: 5px solid transparent;
	border-top: 5px solid transparent;
	border-left: 5px solid #e75300;
	background-color: transparent
}

nav#top {
	background-color: #f2f2f2;
	color: #666;
	height: 36px;
	border-bottom: 1px solid #e8e8e8
}

nav#top .list-inline>li {
	height: 36px;
	line-height: 36px;
	position: relative;
	padding-left: 0;
	margin-right: 11px;
	padding-right: 12px
}

nav#top .list-inline>li i {
	margin-right: 4px
}

html[dir="rtl"] nav#top .list-inline>li i {
	margin: 0 0 0 4px
}

nav#top .list-inline>li:last-of-type {
	margin-right: 0;
	padding-right: 0
}

html[dir="rtl"] nav#top .list-inline>li:last-of-type {
	margin-right: 11px;
	padding-right: 12px
}

nav#top .list-inline>li:last-of-type:after {
	display: none
}

html[dir="rtl"] nav#top .list-inline>li:last-of-type:after {
	display: block
}

html[dir="rtl"] nav#top .list-inline>li:first-of-type:after {
	display: none
}

nav#top .list-inline>li:after {
	content: "";
	width: 1px;
	height: 12px;
	background: #ccc;
	position: absolute;
	right: 0;
	top: 12px
}

nav#top .list-inline>li:hover>a,nav#top .list-inline>li:hover>button {
	color: #ff4d4d !important
}

@media (min-width: 992px) {
	nav#top .btn-group .dropdown-menu,nav#top .list-inline li .dropdown-menu {
		border-radius: 4px !important;
		padding: 10px 0;
		top: 120%;
		border: none;
		left: 50%;
		color: #333;
		text-align: center;
		margin-left: -80px;
		box-shadow: 0 16px 48px 1px rgba(0,0,0,0.3)
	}

	html[dir="rtl"] nav#top .btn-group .dropdown-menu,html[dir="rtl"] nav#top .list-inline li .dropdown-menu {
		right: 50%;
		left: auto
	}

	html[dir="rtl"] nav#top .btn-group .dropdown-menu,html[dir="rtl"] nav#top .list-inline li .dropdown-menu {
		margin-left: auto;
		margin-right: -80px
	}
}

nav#top .btn-group .dropdown-menu:before,nav#top .list-inline li .dropdown-menu:before {
	content: '';
	position: absolute;
	top: -6px;
	left: 50%;
	margin-left: -0.4375em;
	width: 0;
	height: 0;
	border-bottom: 7px solid #fff;
	border-left: 7px solid transparent;
	border-right: 7px solid transparent
}

nav#top .btn-group .dropdown-menu:after,nav#top .list-inline li .dropdown-menu:after {
	content: '';
	position: absolute;
	left: 0;
	top: -14px;
	width: 100%;
	height: 14px
}

nav#top .btn-group .dropdown-menu>li i,nav#top .list-inline li .dropdown-menu>li i {
	font-size: 14px;
	margin-right: 6px
}

nav#top .btn-group .dropdown-menu>li:last-of-type,nav#top .list-inline li .dropdown-menu>li:last-of-type {
	border-bottom: none
}

nav#top .btn-group .dropdown-menu>li>a,nav#top .list-inline li .dropdown-menu>li>a {
	padding: 9px 20px
}

nav#top .btn-group .dropdown-menu>li>a:active,nav#top .list-inline li .dropdown-menu>li>a:active {
	background-color: #ddd
}

nav#top .btn-group:hover .dropdown-menu,nav#top .list-inline li:hover .dropdown-menu {
	display: block
}

nav#top a,nav#top button  {
	color: #666;
	font-size: 12px
}

nav#top a:hover,nav#top button:hover {
	color: #ff4d4d !important
}

nav#top .dropdown-menu button,nav#top .dropdown-menu a  {
	color: #333;
	padding: 8px 13px
}

nav#top .dropdown-menu button:hover,nav#top .dropdown-menu a:hover {
	background-color: #eee;
	color: #ff4d4d
}

nav#top .pull-left {
	margin-right: 10px
}

nav#top .pull-left .btn-group>button {
	height: 36px;
	padding: 0
}

html[dir="rtl"] nav#top #top-links {
	float: left !important
}

header {
	background-color: #fff
}

@media (min-width: 992px) {
	header {
		padding: 30px 0 24px
	}
}

header .search {
	position: relative;
	width: 100%
}

header .search input {
	border: 1px solid #ff4d4d;
	height: 41px;
	/*border-radius: 2px 0 0 2px;*/
	border-right-width: none
}

html[dir="rtl"] header .search input {
	padding-left: 0;
	padding-right: 36px;
	border-left: none;
	border-radius: 0 2px 2px 0;
	border-right-width: 1px
}

header .search input:focus {
	border-color: #ff4d4d
}

header .search span {
	min-width: 80px;
	height: 40px;
	text-align: center;
	cursor: pointer;
	color: #fff;
	border-radius: 0px 2px 2px 0px;
	font-size: 14px;
	background: #ff4d4d
}

header .search span i {
	font-size: 22px
}
/*
header .search span:hover {
	background: #ffab33
}
*/
@media (max-width: 1200px) {
	header .logo {
		width: auto
	}
}

@media (max-width: 992px) {
	header .logo {
		margin: 20px 0;
		text-align: center;
		width: 100%
	}
}

header .logo img {
	max-height: 42px;
	display: inline-block
}

header .cart-account>div {
	float: right;
	position: relative
}

header .cart-account>div>a {
	display: flex;
	align-items: center
}

html[dir="rtl"] header .cart-account>div {
	float: left
}

header .cart-account .account-wrapper .logged-state {
	max-width: 100px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap
}

header .cart-account .icon-wrapper {
	width: 40px;
	height: 40px;
	margin-right: 10px;
	text-align: center;
	line-height: 38px;
	border-radius: 50%;
	border: 1px solid #aaa;
	position: relative
}

html[dir="rtl"] header .cart-account .icon-wrapper {
	float: right;
	margin: 0 0 0 10px
}

header .cart-account .icon-wrapper:after {
	position: absolute;
	top: 6px;
	left: 3px;
	border-radius: 50%;
	z-index: 1;
	width: 24px;
	height: 24px;
	background-color: #ffeff2
}

html[dir="rtl"] header .cart-account .icon-wrapper:after {
	left: auto;
	right: 3px
}

header .cart-account .icon-wrapper i {
	color: #000;
	z-index: 9;
	position: relative
}

header .cart-account span.info {
	font-size: 13px
}

header .cart-account span.info span {
	display: block;
	color: #777
}

header .cart-account span.info span.text {
	margin-bottom: 2px;
	font-size: 13px;
	font-weight: bold;
	color: #555
}
/*
header #cart {
	margin-left: 32px
}
*/
html[dir="rtl"] header #cart {
	margin-left: 0;
	margin-right: 22px
}

@media (min-width: 992px) {
	header #cart .dropdown-menu {
		border-radius: 4px !important;
		padding: 10px 0;
		top: 130%;
		border: none;
		color: #333;
		text-align: center;
		box-shadow: 0 16px 48px 1px rgba(0,0,0,0.3)
	}

	html[dir="rtl"] header #cart .dropdown-menu {
		right: auto;
		left: -6px
	}
}

header #cart .dropdown-menu:before {
	content: '';
	position: absolute;
	top: -6px;
	left: 20px;
	margin-left: -0.4375em;
	width: 0;
	height: 0;
	border-bottom: 7px solid #fff;
	border-left: 7px solid transparent;
	border-right: 7px solid transparent
}

html[dir="rtl"] header #cart .dropdown-menu:before {
	right: auto;
	left: 10px
}

header #cart .dropdown-menu:after {
	content: '';
	position: absolute;
	left: 0;
	top: -14px;
	width: 100%;
	height: 14px
}

header #cart .dropdown-menu>li i {
	font-size: 14px;
	margin-right: 6px
}

header #cart .dropdown-menu>li:last-of-type {
	border-bottom: none
}

header #cart .dropdown-menu>li>a {
	padding: 9px 20px
}

header #cart .dropdown-menu>li>a:active {
	background-color: #ddd
}

header #cart .cart-wrapper {
	position: relative;
	cursor: pointer
}

header #cart .cart-total {
	position: absolute;
	top: -8px;
	left: 25px;
	min-width: 20px;
	line-height: 20px;
	text-align: center;
	z-index: 999;
	font-size: 12px;
	height: 20px;
	background-color: #ff4d4d;
	color: #fff;
	border-radius: 50%
}

html[dir="rtl"] header #cart .cart-total {
	left: auto;
	right: 26px
}

header #cart .no-results {
	margin-bottom: 0;
	padding: 16px 6px
}

header #cart:hover .dropdown-menu {
	display: block
}

header #cart .cart-wrapper {
	color: #333
}

@media (max-width: 1200px) {
	header #cart .cart-wrapper {
		padding: 0 0 0 10px
	}
}

header #cart .cart-wrapper i {
	font-size: 20px
}

header #cart .cart-wrapper:active {
	box-shadow: none
}

header #cart .cart-wrapper #cart-total {
	font-weight: bold;
	font-size: 15px;
	padding-left: 4px
}

header #cart .dropdown-menu {
	min-width: 350px;
	padding: 10px
}

header #cart .dropdown-menu li {
	border-bottom: none
}

header #cart .dropdown-menu li td {
	font-size: 12px;
	padding: 8px
}

header #cart .dropdown-menu li .name {
	height: 33px;
	line-height: 16px;
	overflow: hidden;
	display: inline-block
}

header #cart .dropdown-menu li.products {
	max-height: 330px;
	overflow: hidden;
	overflow-y: auto
}

header #cart .dropdown-menu li.products a {
	color: #333
}

header #cart .dropdown-menu img {
	min-width: 50px;
	transition: none
}

header #cart .dropdown-menu .btn-danger {
	background: #fff;
	color: #555;
	border-color: #eee
}

@media (min-width: 992px) {
	header .account-wrapper .dropdown-menu {
		border-radius: 4px !important;
		padding: 10px 0;
		top: 120%;
		border: none;
		left: 50%;
		color: #333;
		text-align: center;
		margin-left: -80px;
		box-shadow: 0 16px 48px 1px rgba(0,0,0,0.3)
	}

	html[dir="rtl"] header .account-wrapper .dropdown-menu {
		right: 50%;
		left: auto
	}

	html[dir="rtl"] header .account-wrapper .dropdown-menu {
		margin-left: auto;
		margin-right: -80px
	}
}

header .account-wrapper .dropdown-menu:before {
	content: '';
	position: absolute;
	top: -6px;
	left: 50%;
	margin-left: -0.4375em;
	width: 0;
	height: 0;
	border-bottom: 7px solid #fff;
	border-left: 7px solid transparent;
	border-right: 7px solid transparent
}

header .account-wrapper .dropdown-menu:after {
	content: '';
	position: absolute;
	left: 0;
	top: -14px;
	width: 100%;
	height: 14px
}

header .account-wrapper .dropdown-menu>li i {
	font-size: 14px;
	margin-right: 6px
}

header .account-wrapper .dropdown-menu>li:last-of-type {
	border-bottom: none
}

header .account-wrapper .dropdown-menu>li>a {
	padding: 9px 20px
}

header .account-wrapper .dropdown-menu>li>a:active {
	background-color: #ddd
}

header .account-wrapper:hover .dropdown-menu {
	display: block
}

header .account-wrapper a i {
	display: inline-block;
	font-size: 18px
}

.menu {
	/*border: none;*/
	min-height: 44px;
	margin-bottom: 0;
	background-color:#ff4d4d;
}
@media (min-width: 992px) {
	.menu .side-menu {
		display: block !important
	}
}

@media (min-width: 992px) {
	.menu .side-menu .dropdown-menu {
		border-radius: 4px !important;
		padding: 10px 0;
		top: 120%;
		border: none;
		left: 50%;
		color: #333;
		text-align: center;
		margin-left: -80px;
		box-shadow: 0 16px 48px 1px rgba(0,0,0,0.3)
	}

	html[dir="rtl"] .menu .side-menu .dropdown-menu {
		right: 50%;
		left: auto
	}

	html[dir="rtl"] .menu .side-menu .dropdown-menu {
		margin-left: auto;
		margin-right: -80px
	}
}

.menu .side-menu .dropdown-menu:before {
	content: '';
	position: absolute;
	top: -6px;
	left: 50%;
	margin-left: -0.4375em;
	width: 0;
	height: 0;
	border-bottom: 7px solid #fff;
	border-left: 7px solid transparent;
	border-right: 7px solid transparent
}

.menu .side-menu .dropdown-menu:after {
	content: '';
	position: absolute;
	left: 0;
	top: -14px;
	width: 100%;
	height: 14px
}

.menu .side-menu .dropdown-menu>li i {
	font-size: 14px;
	margin-right: 6px
}

.menu .side-menu .dropdown-menu>li:last-of-type {
	border-bottom: none
}

.menu .side-menu .dropdown-menu>li>a {
	padding: 9px 20px
}

.menu .side-menu .dropdown-menu>li>a:active {
	background-color: #ddd
}

@media (max-width: 992px) {
	.menu {
		background-color: #f1f1f0;
		border-bottom: 1px solid #e4e4e4;
		min-height: 40px;
		overflow: hidden;
		width: 100%
	}
}

@media (max-width: 992px) {
	.menu .nav {
		float: none;
		text-align: left;
		margin: 0
	}
}

.menu .nav>li {
	position: relative
}

.menu .nav>li>a {
	/*font-weight: bold;*/
	color: #fff
}

.menu .nav>li>a:active {
	color: #995a00
}

@media (min-width: 992px) {
	.menu .nav>li {
		float: none;
		display: inline-block
	}
/*
	.menu .nav>li:first-of-type>a {
		padding-left: 0
	}
*/
	html[dir="rtl"] .menu .nav>li:first-of-type>a {
		padding-left: 22px;
		padding-right: 0
	}

	html[dir="rtl"] .menu .nav>li:last-of-type>a {
		padding-right: 22px;
		padding-left: 0
	}

	.menu .nav>li>.toggle-button {
		position: absolute;
		top: 50%;
		margin-top: -9px;
		right: 7px
	}
}

@media (min-width: 992px) and (max-width: 1200px) {
	.menu .nav>li>.toggle-button {
		right: 0
	}
}

@media (min-width: 992px) {
	.menu .nav>li:hover .dropdown-menu {
		display: block;
		visibility: visible
	}

	.menu .nav>li:hover>a {
		color: #ff4d4d
	}

	.menu .nav>li>a {
		height: 44px;
		line-height: 44px;
		padding: 0 20px;
		color: #fff;
		font-size: 14px
	}
	.menu .nav>li:hover>a{
		background:#FF2741;
		color:#fff;
	}
}

@media (min-width: 992px) and (max-width: 1300px) {
	.menu .nav>li>a {
		padding: 0 18px
	}
}

@media (min-width: 992px) and (max-width: 1200px) {
	.menu .nav>li>a {
		padding: 0 12px
	}
}

@media (max-width: 992px) {
	.menu .nav>li {
		float: none;
		border-bottom: 1px solid #e5e5e5
	}

	.menu .nav>li.active>a,.menu .nav>li.active .toggle-button {
		color: #ff4d4d
	}

	.menu .nav>li.active>a i,.menu .nav>li.active .toggle-button i {
		-ms-transform: rotate(-180deg);
		-webkit-transform: rotate(-180deg);
		-o-transform: rotate(-180deg);
		transform: rotate(-180deg)
	}

	.menu .nav>li>.toggle-button {
		position: absolute;
		top: 0;
		padding: 10px;
		cursor: pointer;
		right: 0px
	}

	.menu .nav>li>a {
		width: 84%;
		color: #666
	}

	.menu .nav>li .dropdown-menu {
		position: relative;
		float: none;
		box-shadow: none;
		border: none;
		padding-left: 12px;
		transition: none
	}
}

.menu .navbar-header {
	height: 40px;
	width: 100%;
	margin: 0
}

.menu .navbar-header .mobile-search {
	float: left;
	padding: 0 10px;
	height: 40px;
	width: 40px
}

.menu .navbar-header .mobile-nav-icon {
	height: 40px;
	width: 40px;
	float: right
}

@media only screen and (max-width: 992px) {
	.side-menu {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		display: none;
		cursor: pointer;
		z-index: 9999999;
		background: rgba(0,0,0,0.4)
	}

	.side-menu .side-inner {
		position: absolute;
		top: 0;
		height: 100%;
		width: 80%;
		text-align: left;
		overflow-y: auto;
		padding: 14px 10px;
		-ms-transform: translateX(-100%);
		-webkit-transform: translateX(-100%);
		transform: translateX(-100%);
		background-color: #fff;
		-webkit-transition: all 0.3s ease-out;
		-moz-transition: all 0.3s ease-out;
		-o-transition: all 0.3s ease-out;
		transition: all 0.3s ease-out;
		left: 0
	}

	.side-menu .side-inner.active {
		box-shadow: rgba(0,0,0,0.1) 0 0 100px 0;
		-ms-transform: translateX(0);
		-webkit-transform: translateX(0);
		transform: translateX(0)
	}

	.side-menu .side-inner .dropdown-menu {
		margin-left: 0 !important
	}

	.category-title {
		text-align: center;
		font-size: 20px;
		font-weight: bold;
		margin: 20px -10px 0 -10px;
		border-bottom: 1px solid #e5e5e5;
		padding-bottom: 20px
	}

	.side-title {
		text-align: center;
		margin: -14px -10px 15px;
		padding: 10px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		background: #f1f1f1
	}

	.side-title a {
		color: #222
	}

	.side-title i {
		margin-right: 6px
	}

	.side-title>div {
		background: #fff;
		border-radius: 3px;
		padding: 8px 6px;
		border: 1px solid #e4e4e4
	}

	.side-title>div:active {
		border-color: #ccc;
		background: #f1f1f1
	}

	.side-title .side-cart {
		position: relative
	}

	.side-title .side-cart .cart-total {
		position: absolute;
		top: -5px;
		right: -11px;
		min-width: 18px;
		line-height: 18px;
		text-align: center;
		z-index: 999;
		font-size: 12px;
		height: 18px;
		background-color: #f32929;
		color: #fff;
		border-radius: 50%
	}

	.side-title .side-cart .logged-state {
		display: none
	}

	.side-title .side-cart .icon-wrapper {
		float: left
	}

	.side-title .side-cart .info {
		margin-top: 2px;
		float: left
	}
}

@media (max-width: 768px) {
	.product-wrapper .product-layout.col-xs-6:nth-child(2n+1) {
		padding-right: 7.5px
	}

	.product-wrapper .product-layout.col-xs-6:nth-child(2n+2) {
		padding-left: 7.5px
	}
}

.product-thumb {
	margin-bottom: 20px;
	background-color: #fff;
	overflow: hidden;
	position: relative;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out
}

.product-thumb .custom-btn-link {
	float: right;
	margin-top: -3px;
	margin-right: 2px;
	padding: 3px 6px
}

@media (min-width: 768px) {
	.product-thumb:hover {
		box-shadow: 0 10px 25px rgba(0,0,0,0.15)
	}

	.product-thumb:hover .product-button-wrapper {
		right: 10px;
		opacity: 1
	}
}

.product-thumb .image {
	position: relative;
	text-align: center
}

.product-thumb .image img {
	display: inline-block;
}

.product-thumb .image .flash-icon {
	left: 16px;
	position: absolute;
	top: 16px;
	height: 42px;
	width: 42px;
	line-height: 42px;
	text-align: center;
	border-radius: 50%;
	font-size: 12px;
	color: #fff;
	z-index: 9;
	background: #ee3333
}

.product-thumb .image .sales {
	right: 8px
}

.product-thumb .caption {
	padding: 0 10px 10px
}

.product-thumb .product-button-wrapper {
	position: absolute;
	right: 0;
	bottom: 10px;
	padding: 0;
	opacity: 0;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out
}

.product-thumb .product-button-wrapper button {
	height: 40px;
	display: block;
	margin-bottom: 8px;
	width: 40px;
	color: #707070;
	background: #fff;
	box-shadow: 0 0px 14px rgba(0,0,0,0.07);
	border: 0
}

.product-thumb .product-button-wrapper button:disabled {
	background-color: #ffab33 !important
}

.product-thumb .product-button-wrapper button:active,.product-thumb .product-button-wrapper button:hover {
	color: #fff;
	background: #555
}

.product-thumb .product-button-wrapper button.cart:hover {
	color: #fff;
	background: #ff4d4d
}

.product-thumb .product-name {
	overflow: hidden;
	height: 38px;
	margin: 10px 0;
	text-align:left;
}

.product-thumb .product-name a {
	color: #111;
	font-weight: bold;
	font-size: 13px
}

.product-thumb .product-description {
	color: #999;
	display: none
}

.product-thumb .rating {
	position: relative;
	padding-bottom: 8px
}

.product-thumb .price {
	font-size: 16px;
	margin-bottom: 0;
	color: #d4282d;
	display: flex;
	justify-content: space-between;
	align-items: center
}

@media (max-width: 768px) {
	.product-thumb .price {
		font-size: 14px;
		text-overflow: ellipsis;
		overflow: hidden;
		white-space: nowrap
	}
}

.product-thumb .price .price-old {
	font-weight: 500;
	color: #bbb;
	font-size: 12px;
	text-decoration: line-through
}

.product-thumb .price .price-tax {
	color: #bbb;
	font-size: 12px
}

.product-thumb .price .price-left {
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap
}

.product-thumb .price .price-left>div {
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap
}

.product-thumb .price .price-right {
	max-width: 50%;
	display: flex;
	align-items: center
}

.product-thumb .price .price-right span {
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	display: block
}

.product-thumb .price .flag-icon {
	font-size: 12px;
	background: #ee3333;
	padding: 1px 2px;
	min-width: 32px;
	border-radius: 2px;
	color: #fff;
	text-align: center
}

.product-thumb .price .seller-icon {
	padding: 0 2px;
	border: 1px solid #ff4d4d;
	color: #ff4d4d;
	border-radius: 2px;
	font-size: 12px;
	margin-right: 2px
}

.product-thumb .price .seller-icon a {
	color: #ff4d4d
}

.product-list .product-thumb {
	overflow: hidden;
	padding-bottom: 0
}

.product-list .product-thumb .image {
	float: left;
	display: inline-block;
	width: 120px
}

.product-list .product-thumb .caption {
	margin-left: 120px
}

.product-list .product-thumb .product-button-wrapper {
	display: none
}

.product-list .product-thumb .price {
	margin-top: 20px
}

.product-list .product-thumb .sales,.product-list .product-thumb .flash-icon {
	height: 24px;
	font-size: 12px;
	border-radius: 4px;
	color: #75d262;
	height: 22px;
	padding: 1px 4px;
	border: 1px solid #75d262
}

.product-list .product-thumb .flash-icon {
	color: #ff8c03;
	border-color: #ff8c03;
	margin-right: 4px
}

.latest-wrapper .product-thumb {
	overflow: hidden;
	padding-bottom: 0
}

.latest-wrapper .product-thumb .image {
	float: left;
	width: 126px
}

.latest-wrapper .product-thumb .image>a:before {
	display: none
}

.latest-wrapper .product-thumb .product-button-wrapper {
	display: none
}

.latest-wrapper .product-thumb .caption {
	padding-left: 140px
}

.latest-wrapper .product-thumb .caption .product-name {
	margin: 10px 0 14px
}

.latest-wrapper .product-thumb .caption .list-sales-wrapper {
	position: relative;
	margin-bottom: 10px
}

.latest-wrapper .product-thumb .caption .sales,.latest-wrapper .product-thumb .caption .flash-icon {
	height: 24px;
	font-size: 12px;
	border-radius: 4px;
	color: #75d262;
	height: 22px;
	padding: 1px 4px;
	border: 1px solid #75d262
}

.latest-wrapper .product-thumb .caption .flash-icon {
	color: #ff8c03;
	border-color: #ff8c03;
	margin-right: 4px
}

.latest-wrapper .product-thumb .caption .price {
	position: absolute;
	width: 100%;
	padding: 0 10px 0 140px;
	left: 0;
}

.latest-wrapper .product-thumb .button-group {
	margin: 0 0 10px 120px
}

.bargain-list .flag-icon,.flash-list .flag-icon,.buying-list .flag-icon {
	display: none !important
}

.widget-title {
	position: relative;
	clear: both;
	margin: 0 0 12px;
	color: #222;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 2px solid #eee
}

.widget-title>span {
	display: inline-block;
	font-weight: bold;
	font-size: 20px;
	padding-bottom: 12px;
	position: relative;
	margin-left:0;
}

.widget-title>span:before {
	content: '';
	position: absolute;
	width: calc(100% + 10px);
	bottom: 5px;
	left: 0;
	border-bottom: 3px solid #ff4d4d
}

.widget-title .link {
	font-size: 13px;
	border-radius: 2px;
	padding: 7px;
	display: block;
	color: #666;
	margin-right:0px;
}

/*
.widget-title .link:hover {
	background: #ff4d4d;
	border-color: #ff4d4d;
	color: #fff
}
*/

.widget-title .link:hover a{
	color:#ff4422;
}
.widget-title .link a {
	color: #666
}

.widget-title .title-pager {
	display: flex;
	align-items: center
}

.widget-title .title-pager span {
	text-align: center;
	margin-left: 12px;
	color: #555;
	border-radius: 2px;
	outline: none;
	-webkit-transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s
}

.widget-title .title-pager span.swiper-button-disabled {
	opacity: .3;
	cursor: default
}

.widget-title .title-pager span:before {
	content: "\f104";
	font-family: fontawesome;
	font-size: 24px;
	font-weight: bold
}

.widget-title .title-pager span:last-of-type:before {
	content: "\f105"
}

.widget-title .title-pager .link {
	border-left: 1px solid #ccc;
	padding: 4px 0;
	margin-left: 10px;
	padding-left: 10px;
	background: transparent;
	color: #666
}

.widget-title-2 {
	text-align: center;
	margin-bottom: 40px
}

@media (max-width: 768px) {
	.widget-title-2 {
		margin-bottom: 20px
	}
}

.widget-title-2 h2 {
	font-size: 24px;
	color: #111;
	font-weight: bold
}

.widget-title-2 p {
	color: #aaa;
	margin: 0 auto;
	font-size: 14px;
	max-width: 650px
}

.nav-tabs li.active a {
	font-weight: bold;
	color: #222;
	margin-top: 0
}

.nav-tabs li a {
	color: #777
}

.filter-wrapper a {
	padding: 0;
	color: #222
}


.flash-wrapper-multi .caption {
	padding: 0
}

.flash-wrapper-multi .title-pager .link {
	border-left: 1px solid #ddd;
	padding: 4px 0;
	margin-left: 10px;
	padding-left: 10px;
	background: transparent;
	color: #666
}

.module-banner-wrapper {
	position: relative;
	overflow: hidden
}

@media (max-width: 768px) {
	.module-banner-wrapper {
		margin-bottom: 20px
	}
}

.module-banner-wrapper:hover:before {
	left: 100%
}

.module-banner-wrapper:before {
	content: "";
	position: absolute;
	top: 0;
	left: -100%;
	display: block;
	height: 100%;
	width: 50%;
	z-index: 999;
	background-color: rgba(255,255,255,0.3);
	-webkit-transition: all 1s ease 0s;
	-moz-transition: all 1s ease 0s;
	-o-transition: all 1s ease 0s;
	transition: all 1s ease 0s;
	-ms-transform: skewX(-20deg);
	-webkit-transform: skewX(-20deg);
	-o-transform: skewX(-20deg);
	transform: skewX(-20deg);
	background: -webkit-linear-gradient(90deg, rgba(0,0,0,0) 0, rgba(255,255,255,0.4) 100%);
	background: -moz-linear-gradient(90deg, rgba(0,0,0,0) 0, rgba(255,255,255,0.4) 100%);
	background: -o-linear-gradient(90deg, rgba(0,0,0,0) 0, rgba(255,255,255,0.4) 100%);
	background: linear-gradient(90deg, rgba(0,0,0,0) 0, rgba(255,255,255,0.4) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=rgba(0,0,0,0), endColorstr=rgba(255,255,255,0.4),GradientType=0.9)
}

.module-blog-latest.grid .blog-latest-wrapper {
	margin-bottom: 20px;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out
}

.module-blog-latest.grid .blog-latest-wrapper>a {
	display: block;
	position: relative
}

.module-blog-latest.grid .blog-latest-wrapper>a .time-wrapper {
	float: left;
	background: #fff;
	color: #fff;
	width: 66px;
	position: absolute;
	bottom: 0;
	left: 0;
	text-align: center;
	padding: 5px;
	background: #ff4d4d
}

.module-blog-latest.grid .blog-latest-wrapper>a .time-wrapper .yaer {
	font-weight: bold;
	font-size: 20px
}

.module-blog-latest.grid .blog-latest-wrapper .info {
	padding-top: 16px;
	border-top: none
}

.module-blog-latest.grid .blog-latest-wrapper .info .blog-title {
	margin-bottom: 15px
}

.module-blog-latest.grid .blog-latest-wrapper .info .blog-title:after {
	content: "";
	display: block;
	width: 32px;
	height: 3px;
	background: #484848;
	margin-top: 8px
}

.module-blog-latest.grid .blog-latest-wrapper .info .blog-title>a {
	display: block;
	height: 24px;
	font-size: 16px;
	font-weight: bold;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	margin-bottom: 10px;
	color: #333
}

.module-blog-latest.grid .blog-latest-wrapper .info .blog-title>a:hover {
	color: #ff4d4d
}

.module-blog-latest.grid .blog-latest-wrapper .info>p {
	margin-bottom: 0;
	max-height: 54px;
	display: -webkit-box;
	text-overflow: ellipsis;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	overflow: hidden;
	color: #b0b0b0
}

.module-blog-latest.grid .blog-latest-wrapper .info .btn-view {
	margin-top: 20px
}

.module-blog-latest.grid .blog-latest-wrapper .info .btn-view a {
	color: #333;
	padding-bottom: 2px;
	border-bottom: 1px solid #333
}
.module-blog-latest.grid .blog-latest-wrapper .info .btn-view a:hover{
	color: #ff4d4d
}
.module-slideshow.swiper-viewport:hover .swiper-button-prev {
	left: 100px
}

.module-slideshow.swiper-viewport:hover .swiper-button-next {
	right: 100px
}

@media (max-width: 768px) {
	.module-customer-service {
		margin: 0;
		padding: 16px 0 0
	}
}

.module-customer-service .item {
	position: relative;
	margin-bottom: 26px
}

.module-customer-service .item:before {
	content: '';
	position: absolute
}

@media (min-width: 768px) {
	.module-customer-service .item:before {
		top: 20%;
		right: 0;
		height: 60%;
		border-right: 1px solid #e4e4e4
	}
}

@media (max-width: 768px) {
	.module-customer-service .item:before {
		bottom: 0;
		width: 96%;
		left: 2%;
		border-bottom: none
	}
}

.module-customer-service .item:last-of-type:before {
	border: none
}

@media (max-width: 768px) {
	.module-customer-service .item {
		margin-bottom: 10px;
		padding-bottom: 10px
	}
}
/*
.module-customer-service .icon {
	float: left;
	width: 55px
}
*/
html[dir="rtl"] .module-customer-service .icon {
	float: right
}

@media (max-width: 768px) {
	.module-customer-service .icon {
		margin-right: 7px;
		/*width: 40px;
		height: 40px;*/
	}
	footer h5:before{
		border-bottom:none;
	}
}

.module-customer-service .icon img {
	display: inline-block
}

.module-customer-service .text {
	margin-left: 70px
}

html[dir="rtl"] .module-customer-service .text {
	margin: 0 70px 0 0
}

.module-customer-service .text .title {
	color: #505050;
	font-size: 15px;
	text-overflow: ellipsis;
	margin-bottom: 8px;
	overflow: hidden;
	white-space: nowrap
}

@media (max-width: 768px) {
	.module-customer-service .text .title {
		margin-bottom: 4px;
		font-size: 14px
	}
}

.module-customer-service .text .sub-title {
	color: #999;
	font-size: 14px
}

@media (max-width: 768px) {
	.module-customer-service .text .sub-title {
		font-size: 13px
	}
}

@media (max-width: 1200px) {
	.slideshow-category .swiper-container .swiper-slide a {
		height: auto !important;
		background-image: none !important
	}
}
/*
@media (min-width: 1200px) {
	.slideshow-category .swiper-container .swiper-slide img {
		display: none
	}
}
*/

.menu .navbar-header .mobile-search{
	color:#fff;
	background:#ff4d4d;
	border-color: #ff4d4d;
}
/*
.menu .navbar-header .mobile-nav-icon{
	margin-right:10px;
}
*/
.ml20 {
    margin-left: 20px;
}
.price .price-right .iconfont:hover{
	cursor: pointer;
}
.input-group{
	width:100%
}
.input-group .input-group-btn .btn{
	background:#ff4d4d;
	border-color:#ff4d4d;
}
.input-group input:focus{
	border-color: #ff4d4d;
}
/*回到顶部位置*/
footer .fixed-shortcut-wrapper{
	bottom:30px;
}
/*回到顶部位置 end*/
.product-thumb .image img {
	display: inline-block;
	width:275px;
	height:275px;
}
@media (max-width: 768px){
	.product-thumb .image img {
		display: inline-block;
		width:163px;
		height:163px;
	}
}
.latest-wrapper .image img {
	display: inline-block;
	width:126px;
	height:126px;
}
