.fl {
    float: left;
}

.fr {
    float: right;
}

.rl {
    position: relative;
}

.oh {
    overflow: hidden;
}

.n-h2 {
    font-size: 18px;
    color: #535759;
    line-height: 1;
}

.n-h3 {
    font-size: 16px;
    color: #535759;
    line-height: 1;
}

.n-h4 {
    font-size: 14px;
    color: #535759;
    line-height: 1;
}

.n-h5 {
    font-size: 12px;
    color: #535759;
    line-height: 1;
}

.required {
    padding-left: 5px;
    color: #FF0100;
}

input.error, select.error {
    border-color: #FF0100 !important;
}

input.ok, select.ok {
    border: solid 1px #007867 !important;
}

img.up {
    transform: rotate(180deg);
}

/* 样式 */
.n-wrapping {
    margin: 0 auto;
    width: 750px;
    display: none;
    text-align: left;
}

.n-wrapping input, .n-wrapping select {
    width: 98%;
    height: 30px;
    text-indent: 10px;
    font-size: 14px;
    border-radius: 2px;
    border: 1px solid #dddddd;
    background: #ffffff;
    box-sizing: border-box;
}

.n-wrapping input:focus, .n-wrapping select:focus {
    border: solid 1px #105ea0;
}

.n-main {
    padding: 7px;
    background: #E4E3DD;
    border-radius: 6px;
}

.n-card-i {
    margin: 0;
    padding-bottom: 0px;
}

.n-main .n-section:last-child {
    padding-bottom: 20px;
    margin: 0 0 0px;
}

.n-section {
    padding: 20px 15px;
    background: #ffffff;
    border-radius: 6px;
}

.n-submit-box {
    overflow: hidden;
}

.n-cancel {
    display: inline-block;
    width: 135px;
    height: 35px;
    background: #DCDCDC;
    border: 1px solid #BFBFBF;
    border-radius: 6px;
    font-size: 15px;
    color: #393939;
    letter-spacing: 0;
    line-height: 35px;
    text-align: center;
    cursor: pointer;
    margin-right: 20px;
    font-weight: bold;
}

.n-cancel:hover {
    color: #535759;
    background-color: #eee;
}

.n-submit {
    font-weight: bold;
    display: inline-block;
    width: 100%;
    height: 35px;
    border-radius: 6px;
    font-size: 15px;
    letter-spacing: 0;
    line-height: 35px;
    text-align: center;
    color: #fff;
    border: solid 1px #ccc;
    background-color: #eee;
    cursor: default;
}

.n-submit-ok {
    padding: 0 !important;
    background-color: #f15352 !important;
    height: 40px !important;
    line-height: 40px;
}

.n-submit-ok:hover {
    background-color: #00948a;
    color: #fff;
    outline: 0;
    border: solid 1px #105ea0;
}

.n-form {
    margin-top: 10px;
    padding: 10px 0;
}

.n-form-item {
    float: left;
    width: 50%;
    height: 95px;
}

.n-form-item .clearfix {
    width: 90%;
}

.n-form-item-title {
    margin-bottom: 15px;
    height: 20px;
    line-height: 20px;
    font-size: 15px !important;
}

.n-form-item-error .n-form-item-title-error {
    display: inline-block;
}

.n-form-item-title-error {
    display: none;
    margin-left: 10px;
    width: 11px;
    height: 11px;
    line-height: 20px;
}

.n-form-item-ok .n-form-item-title-ok {
    display: inline-block;
}

.n-form-item-title-ok {
    display: none;
    margin-left: 10px;
    width: 11px;
    height: 11px;
    line-height: 20px;
}

.n-form-item-ok input, .n-form-item-ok select {
    border: 1px solid #007867 !important;
}

.n-form-item-error .n-error-tips {
    display: block;
}

.n-error-tips {
    display: none;
    margin-top: 5px;
    font-size: 12px;
    color: #FF0100;
}

.n-s-card {
    margin-left: 5px;
    height: 28px;
    border: 1px solid #DDDDDD;
    background-color: #ffffff;
}

.n-s-card img {
    width: auto;
    height: 100%;
}

.n-bold {
    font-weight: 600;
}

.n-fullname.clearfix input, .n-fullname.clearfix select {
    width: 145px;
}

.n-fullname div {
    width: 145px;
}

.n-fullname div:first-child {
    margin-right: 20px;
}

.n-form-item .clearfix.n-cvv {
    width: 100%;
}

.n-cvv div:nth-child(1) {
    margin-top: 2px;
}

.n-cvv div:nth-child(2) {
    width: 60px;
    margin: 2px 8px 0;
}

.n-cvv div:nth-child(3) {
    width: 200px;
    font-size: 12px;
}

.n-cvv .mCvv {
    width: 60px;
}

.n-cvv img {
    width: 56px;
}

.n-another .n-form-item {
    height: 85px;
}

.n-another .n-form-item-title {
    margin-bottom: 10px;
}

.billing {
    font-size: 15px;
    color: #535759;
    transition: 0.2s;
}

.one {
    margin: 0 0 8px;
}

.one img {
    display: none;
    width: 14px;
    height: 8px;
    margin: 10px auto 0;
    transition: .2s;
    cursor: pointer;
}

.one.sho {
    padding-bottom: 10px;
}

.one.sho img {
    display: block;
}

.n-bag {
    margin: 0 0 8px;
}

.n-bag .fl {
    width: 80%;
    padding-left: 24px;
    line-height: 21px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 13px;
    color: #595959;
}

.n-bag .fr {
    font-size: 15px;
    color: #E60100;
}

.payment-logo {
    overflow: hidden;
}

.payment-logo .n-s-card {
    border-radius: 6px;
    height: 35px;
}

.indicate {
    font-size: 13px;
    color: #595959;
}

.mm, .yy {
    width: 70px !important;
}

.card_kind_box div {
    width: 100%;
}

.payment-logo-mini {
    display: none;
    float: right;
}

.payment-logo-mini .n-s-card {
    height: 20px;
}

#wpay_infos {
    padding: 15px 37px;
    background: #F2F2F2;
}

#wpay_infos p {
    padding: 3px 0;
}

#wpay_cardt {
    background: #eee;
    text-align: left;
    padding: 2px 0;
    padding-left: 168px;
}

#wpayment_sub span.c_name {
    width: 140px;
    float: left;
    padding-right: 30px;
    line-height: 24px;
    text-align: right;
}

#wpayment_sub .inpv {
    display: block;
    padding: 7px 0;
}

#wpayment_sub .inpv input {
    padding: 2px 5px;
}

.subinfov {
    padding: 7px 30px;
    background: #36579B;
    border: none;
    color: #fff;
    border-radius: 4px;
    margin: 11px;
}

.nonullnote {
    color: red;
    display: none;
}

#loadsub {
    padding: 10px 50px;
    text-align: center;
    display: none;
}

.cvv_cons {
    display: block;
}

#smallcard {
    position: relative;
    display: inline-block;
}

#bigvvcard {
    position: absolute;
    top: -11px;
    left: 60px;
}

.bot_conv {
    width: 500px;
    height: 50px;
    background: #fff;
    margin: 0 auto;
    position: relative;
    margin-top: 90px;
    color: #737171;
}

.bot_conv a {
    color: #737171;
    font-size: 12px;
}

.orderpayed {
    padding: 20px;
    background: #F5D8D8;
    font-weight: bold;
    text-align: center;
}

/* 移动 */
@media screen and (max-width: 800px) and (min-width: 200px) {
    .n-wrapping {
        margin: 0;
        padding-bottom: 30px;
        width: 100%;
    }

    .n-form-item {
        float: none;
        width: 100%;
    }

    .n-fullname div {
        width: 48%;
        margin-right: 0 !important;
    }

    .n-fullname div:last-child {
        float: right;
    }

    .n-fullname input, .n-fullname select {
        width: 98% !important;
    }

    .n-cvv {
        display: flex;
    }

    .n-cvv div {
        float: none;
    }

    .n-cvv div:nth-child(1) {
        flex: 0 0 62px;
    }

    .n-cvv div:nth-child(2) {
        flex: 0 0 60px;
    }

    .n-cvv div:nth-child(3) {
        flex: 1 1 20px;
    }

    .mCardNumber {
        width: 100% !important;
    }

    .n-submit-box {
        text-align: center;
    }

    .indicate {
        display: none;
    }

    .payment {
        display: none;
    }

    .n-form {
        margin-top: 0;
        padding: 0;
    }

    .n-form-item {
        height: 80px;
    }

    .n-form-item-title {
        margin-bottom: 5px;
    }

    .n-another input, .n-another select {
        width: 100% !important;
    }

    .n-form-item .clearfix {
        width: 100%;
    }

    .n-bag .fl {
        width: 70%;
    }
}


.font-success, .font-failed {
    width: 64px;
    height: 64px;
    border: 1px solid #ddd;
    border-radius: 50%;
    margin: 0px auto 0px;
    line-height: 64px;
}

.font-success i, .font-failed i {
    color: #1ad383 !important;
    font-size: 32px !important;
    text-align: center;
    vertical-align: middle;
}

.dpinline {
    display: inline-block
}

.mauto {
    margin: 0px auto
}

.mr20 {
    margin-right: 20px;
}

.completion-table {
    width: 840px;
    margin: 30px auto;
    border: 1px solid #ddd;
    overflow: hidden;
}

.completion-table div {
    font-size: 14px;
    width: 50%;
    border-bottom: 1px solid #ddd;
    text-align: left;
    padding: 15px;
    float: left;
}

.border-right {
    border-right: 1px solid #ddd;
}

.pt20 {
    padding-top: 20px;
}

.mt20 {
    margin-top: 20px;
}

.inputcheck {
    width: 16px !important;
    height: 16px !important;
    margin: 2px 5px 0 0 !important;
}

.f24 {
    font-size: 24px !important;
}

.f20 {
    font-size: 20px !important;
}

.mt40 {
    margin-top: 40px
}

.btn-group-justified > .btn-group .btn {
    width: 90%;
    float: none;
}

.list-unstyled {
    padding-left: 0px;
}

.account-list .list-unstyled li {
    float: left;
    width: 31%;
    margin-right: 2%;
}

.account-list .list-unstyled li a:hover {
    border: 1px solid #4286f4;
    background: #fff;
}

.account-list .list-unstyled li.expiredCard a {
    background: #f3f3f3;
}

.account-list .list-unstyled li.expiredCard a:hover {
    color: #333;
    border: 1px solid #ddd;
}

.account-list .list-unstyled a span {
    margin-left: 15px;
}

.account-list .list-unstyled a {
    padding: 10px;
}

.cardBox {
    width: 100%;
    display: block;
    height: auto;
    overflow: hidden;
}

.cardImg {
    margin-top: 8px;
}

.cardName {
    margin-left: 10px;
}

.cardNameOne {
    margin-top: 5px;
    color: #000
}

.cardNameTwo {
    color: #666
}

.cardNumber {
    margin-top: 10px;
    color: #000;
    margin-left: 50px;
}

.cardActive a {
    border: 1px solid #4286f4 !important;
}

.cardNone, .cardNone:hover {
    cursor: not-allowed;
    pointer-events: none;
}
/*zxx20201022添加*/
.w840{
    width:840px;
}
@media screen and (max-width: 768px) {
    .completion-table {
        width: 90%;
        margin: 1rem auto;
        border: 1px solid #ddd;
        border-bottom: none;
        overflow: hidden;
    }

    .completion-table div {
        font-size: 1.3rem;
        width: 100%;
        border-bottom: 1px solid #ddd;
        text-align: left;
        padding: 15px;
        float: left;
    }

    .border-right {
        border-right: none;
    }

    .border-none {
        border-bottom: 1px solid #ddd !important;
    }

    .mb1 {
        margin-bottom: 1rem
    }

    .mr20 {
        margin-right: 0;
    }

    .pt20 {
        padding-top: 0;
    }

    .mt40 {
        margin-top: 0px
    }

    .account-list .list-unstyled {
        padding-left: 0px;
        margin-right:0px;
    }

    .account-list .list-unstyled li {
        float: left;
        width: 100%;
        margin-right: 2%;
    }

    .account-list .list-unstyled a {
        font-size: 14px;
        padding: 1.5rem 0 1.5rem 0;
    }

    .account-list .list-unstyled a span {
        margin-left: 1rem;
    }

    .modal-dialog {
        top: 20%;
        width: 70%;
        margin: 0 auto;
    }

    .modal-dialog .mt40 {
        margin-top: 2rem;
    }

    .n-cvv .mCvv {
        width: 100%;
    }

    .n-cvv-phone {
        display: block;
        margin-left: 35%;
        width: 100%;
    }

    .nonullnote {
        /*display: block;*/
        display: none;
        margin-top: 4rem;
        margin-left: -25%;
    }

    .modal-top {
        top: 0;
    }

    .cardImg {
        margin-left: 1.5rem;
    }
    .w840{
        width:100%;
    }
    .cardNameOne{
        padding-left:1rem;
    }
    .cardBox .mt10 .pull-left{
        padding-left:1rem;
    }
    .cardBox .mt10 .pull-right{
        padding-right:1rem;
    }
    .J-create-token{
        margin:0px 5px 0 0!important;
    }
}

