html{
    font-size:1rem!important;
}
input::-webkit-input-placeholder { 
    color: #999; 
} 

.ub-two {
    width: 46.9%;
    float: left;
}
.ub-two2 {
    width: 46%;
    float: left;
}
.ub-three {
    width: 29%;
    float: left;
}
.ub-four {
    width: 25%;
    float: left;
}
.ub-five {
    width: 20%;
    float: left;
}
.footer{
    position: fixed!important;
    z-index: 1000;
    bottom: 0;
    left: 0;
    width: 100%;
}
.active{
    border:1px solid #ff0000;
    border-radius:0.3rem;
}
.active input[type=radio]:before {
    content: "\f192";
    color: #4286f4;
}
.ubt1{
    border-top: 1px dashed #ddd;
}
.ubb1{
    border-bottom: 1px dashed #ddd;
}
.ub-zxkf{
    position: fixed;
    bottom: 1rem;
    right: 0.5rem;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    z-index: 9999;
}
.ub-zxkf img{
    width:100%
}
.ub-money{
    position: fixed;
    top: 2.8rrem;
    left: 0;
    z-index: 2000;
    width: 100%;
}
.umh05{
    min-height:0.5rem
}
.usf-x{
    overflow-x: scroll;
}
.usf-y{
    overflow-y: scroll;
}

.slide-box {
    display: -webkit-box;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
}

/* 隐藏下方的滚动条 */
/*
.slide-box::-webkit-scrollbar {
    background-color: transparent;
}

.slide-box {
    -ms-overflow-style: none;
}

.slide-box {
    overflow: -moz-scrollbars-none;
}

*/
.slide-itrem {
    width: 25%;
    height: 7rem;
    text-align: center;
}
.ub-active{
    margin-top: -0.35rem;
    margin-left: 1rem;
    color: #fff;
    position: absolute;
}

/*购物车有商品*/
.tab_badge {
    position: absolute;
    width: 1rem;
    height: 1rem;
    left: 4.5rem;
    top: 0rem;
    -webkit-border-radius: 1.2rem;
    border-radius: 1.2rem;
    text-align: center;
}
/*列表页*/
.ub-list-left{
    width:32%;
}
.ub-list-right{
    width:68%;
}
.list-active{
    background: #fff;
    border-left: 4px solid #4286f4;
    color:#4286f4;
}
.ulev09{
    font-size:0.95rem;
}
.ulev-5{
    font-size:0.9rem;
}
.uinn6{
    padding:0.55rem 0rem;
}
.ub-spxq{
    width:50%;
    margin:0rem auto;
}
.ub-spxqwz{
    position:relative;
    top:-0.75rem;
    width:30%;
    margin:0rem auto;
}
.ub-yj{
    text-decoration: line-through;
}
.ub-wl{
    width:25%
}
.ub-wr{
    width:75%
}
.tx-j{
    text-align:justify ;
}
.ub-topcur{
    color:#ff6600;
    border-bottom:2px solid #ff6600
}
.ub-topsp{
    position: fixed;
    top: 0rrem;
    left: 0;
    z-index: 2000;
    width: 100%;
}
/*购物车数量*/
.uwh-esc{
    width:1.5rem;
    height:1.5rem;
} 
.uwh-pSC1 {
    width: 1.5rem;
    height: 1.5rem;
}
.uinput input.t-bla {
    color: #000000;
}
.uinput input.uinn-pSC3 {
    padding: 0rem;
}
.minus{
    background-image:url("../image/icon-miuns-act.png");
} 
.add {
    background-image: url(../image/icon-add-act.png);
}
.fa-15x{
    font-size:1.5rem;
}
.border-none{
    border:none
}
.umar-t2{
    margin-top:0.2rem
}
.ub-ddbz{
    width:75%;
    
}
.ub-ddbz input{
    width:100%;
    border-bottom:none!important;
}
.ub-zfhb{
    position:fixed;
    z-index:2003;
    width:100%;
    bottom:0;
    left:0;
    height: 20rem;
    overflow-y: auto;
    display: block;
}
.uhidebox{
    display:none;
}
.ub-hide{
    position:fixed;
    z-index:999;
    width:100%;
    top:0;
    left:0;
    height: 100%;
    background:rgba(0, 0, 0, 0.3);
    display: block;
}
.ub-next-block{ 
    position: fixed;
    z-index: 1000;
    width: 70%;
    top: 28%;
    left: 15%;
    height: 10rem;
    overflow-y: auto;
    display: block;
}
.hide{
    position:fixed;
    z-index:2002;
    width:100%;
    top:0;
    left:0;
    height: 100%;
    background:rgba(0, 0, 0, 0.3);
    display: block;
}
/*我的*/
.ub-personal {
    background: url(../image/personalbg.png) no-repeat top;
    background-size:100% 100%;
    height: 8em;
}
.uinn8{
    padding:0.25rem 1rem;
}
.tab_badge2{
    position: absolute;
    width: 0.8rem;
    height: 0.8rem;
    left: 3.5rem;
    top: -0.15rem;
    -webkit-border-radius: 1.2rem;
    border-radius: 1.2rem;
    text-align: center;
}
.ub-cur{
    border-bottom:3px solid #4286f4;
    color:#4286f4;
}
.sc-border-blue{
    border-color:#4286f4;
}
.sc-bg-gray{
    background:#ddd
}
/*
.hbbg{
    background:url(../image/left-circle.png) no-repeat left center;
}
*/
a{
    text-decoration: none;
}
.umar-b02{
    margin-bottom:0.2rem
}
.umh35{
    min-height:3.5rem;
}

/*20201210 zxx添加多国货币*/

.czlx_main ul li.choose-mode {
    width:30%;
    margin: 0 0rem 0.5rem 0.375rem;
    float: left;
    text-align: center;
    display: table;
    color: rgba(56,56,56,1);
	overflow: hidden;
}
.czlx_main ul li.choose-mode span{
    display:inline-block;
    padding:0.5rem 0.375rem;
}
.czlx_main .selected {
    background: rgba(232,242,255,1);
    border: 1px solid rgba(59,140,254,1);
    color: rgba(59,140,254,1);
}
 /*
.czlx_main ul li.choose-mode span {
   display: table-cell;
    vertical-align: middle;
}*/
.czlx_main .selected span {
    color: rgba(59,140,254,1) !important;
}
.landing_fixed span{
   
    background: url(../image/icon1.png) left center no-repeat;
	background-size: 0.85rem 0.85rem;
	padding-left:1rem;
}
.ub-zfbz{
    position:fixed;
    z-index:2003;
    width:100%;
    bottom:0;
    left:0;
    height: 20rem;
    overflow-y: auto;
    display: block;
}
/*20201210 zxx添加多国货币 end*/
.slide-item {
    width: 4.5rem;
    height: 6rem;
    text-align: center;
    float: left;
    box-sizing: border-box;
    border-bottom: 0px solid #ddd;
    border-right: 0px solid #ddd; 
    background: rgba(59, 140, 254, 0.08);
    border-radius: 0.5rem;
    margin-left: 0.3rem;
    padding-bottom:0.5rem;
    white-space: nowrap;
}
div:nth-child(4),div:nth-child(8),div:nth-child(12),div:nth-child(816),div:nth-child(20){
    border-right:none;
}
/*20201217添加支付提示*/
.paymenttips-img img{
    width:1rem;
    height:1rem;
    margin-right:0.2rem;
}
.paymentTips{
	line-height:1.2rem;
}
.max25{
    max-height:2.7rem;
}
.uminh img{
    height:2rem;
    margin-left:0.5rem;
}
/*20210413 zxx添加用户余额*/
.w25{
    width:25%;
}
.w75{
    width:75%;
}
.balance-details{
    display:none
}
.uwh-pSC3{
    width:3rem;
    height:1.5rem;
}
.ml10{
    margin-left:10rem;
}
/*zxx 20210622添加新着陆页*/
.home-search-bg{
    width: 100%;
    margin: 0.35rem 0;
}
.home_searchBox{
    width: 70%;
    margin-left: 0;
    background: #EBECF0;
}
.home_search input::-webkit-input-placeholder {
    color: #FFFFFF;
}
/*
.banner{
    border-radius: 0.5rem;
    width:95%!important;
    position: relative;
    z-index: 99;
    left:2.5%!important;
    top:-3rem!important;
}*/
.wimg4{
    width:3.5rem;
}
/*2021-08-20 zxx添加文章页面*/
/*
.text-indent{
    text-indent:2rem;
}

.w75{
    width:75%;margin-left:10%;
}
*/
.article-box{
    width:90%;
    margin-left:5%;
}
.article-box p{
    margin-top:1rem;
    text-indent:2rem;
}
/*
.ub-hl{
    width:82%;
    margin:1rem auto;
}
table.ub-hl td{
    padding:0.75rem;
    border-bottom:1px solid #ddd;
}
table.ub-hl tr:last-child td{
    border-bottom:none;
}
.min25{
    min-height:2.7rem;
}
*/
/*20211214汇率转换*/
.transfer-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.transfer-form .transfer-board-color {
    border: 1px solid #e22989;
}
.transfer-form .transfer-board-color {
    border: 1px solid #4286f4;
}
.transfer-form .transfer-form-board {
    width: 85.067vw;
    background: #f8f8f8;
    border: 1px solid #f8f8f8;
    border-radius: 2.133vw;
    padding: 2.667vw;
    position: relative;
    z-index: 3;
}
.transfer-form .transfer-form-board-bottom {
    margin-bottom: 5.333vw;
}
.transfer-form .transfer-form-board .transfer-form-board-cell {
    display: inline-block;
    vertical-align: middle;
}
.transfer-form .transfer-form-board .transfer-form-board-cell .transfer-tip-text {
    height: 5.867vw;
    line-height: 5.867vw;
    font-size: 3.467vw;
    text-align: left;
    color: #9b9b9b;
}
.transfer-form .transfer-form-board .transfer-form-board-cell .transfer-form-input {
    width: 58.4vw;
    height: 8vw;
    font-size: 5.6vw;
    text-align: left;
    background: transparent;
    color: inherit;
    font: inherit;
}
input, input::-webkit-inner-spin-button, input::-webkit-outer-spin-button {
    background: transparent;
    appearance: none;
    -webkit-appearance: none;
    margin: 0;
    padding: 0;
    outline: 0;
    border: none;
}

input[type=number] {
    -moz-appearance: textfield;
}
.transfer-form .transfer-form-board .transfer-form-board-cell .transfer-form-flag-currency {
    width: 25.333vw;
    height: 13.867vw;
    line-height: 13.867vw;
    font-size: 4vw;
    text-align: right;
    color: #2e2e2e;
}
.transfer-form .transfer-form-flag {
    width: 9.6vw;
    height: auto;
    position: relative;
    top: 0.5rem;
}
.transfer-form .form-down-arrow {
    width: 2.667vw;
    height: auto;
}
.transfer-form .transfer-form-space {
    text-align: left;
    padding-left: 3.2vw;
}
.transfer-form .transfer-form-space .transfer-form-speed-icon {
    height: 10.667vw;
    width: auto;
}
.bc-bg2{
    background: #eaecf0;
}
.transfer-form .transfer-form-space .transfer-form-speed {
    font-size: 4vw;
    color: #2e2e2e;
    font-weight: 700;
    font-style: italic;
    /* line-height: 6vw; */
    padding-left: 1.333vw;
    position: relative;
    top: -0.75rem;
}
.transfer-form .transfer-board-save-fee {
    text-align: center;
    width: 100%;
}
.transfer-form .save-user-icon {
    height: 8vw;
    width: auto;
}
.transfer-form .save-for-you-text {
    font-size: 3.733vw;
    color: #2e2e2e;
    position: relative;
    top: -0.5rem;
}
.transfer-form .save-amount-number {
    font-size: 5.333vw;
    color: #4286f4;
}
.transfer-form .save-amount-number{
    color: #e22989;
}
.launch-rate-form .btn-remit {
    font-size: 4.8vw;
    text-align: center;
    border-radius: .8vw;
    height: 13.333vw;
    line-height: 13.333vw;
    letter-spacing: .533vw;
    background: #4286f4;
    border: 1px solid #4286f4;
    color: #fff;
    width:90%;
    margin:1rem 5%;
}
/*
.launch-rate-form .btn-remit{
    background: #e22989;
    border: 1px solid #e22989;
}*/
/*隐藏下拉菜单*/
.country-list .country-list-poup {
    height: 100vh;
    overflow: hidden;
    background: #2e2e2e;
    left: 0;
}
.van-popup--right {
    top: 50%;
    right: 0;
    -webkit-transform: translate3d(0, -50%, 0);
    transform: translate3d(0, -50%, 0);
}
.van-popup {
    position: fixed;
    max-height: 100%;
    overflow-y: auto;
    background-color: #fff;
    -webkit-transition: -webkit-transform .3s;
    transition: -webkit-transform .3s;
    transition: transform .3s;
    transition: transform .3s, -webkit-transform .3s;
    -webkit-overflow-scrolling: touch;
}
.country-list .container {
    padding: 0 1.067vw;
    height: 100%;
}
.country-list .container .poup-title {
    font-size: 4.8vw;
    height: 6.667vw;
    text-align: left;
    color: #4286f4;
    padding: 6.4vw 3.2vw 2.133vw;
}
.country-list .container .poup-title{
    color: #e22989;
}
.country-list .container .list-wrap {
    margin-top: 2.667vw;
    padding: 0 3.467vw;
    height: calc(100% - 32.267vw);
    overflow: auto;
}
.country-list .container .list-wrap .country-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 2.667vw 0;
}
.country-list .container .list-wrap .country-item .country-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.country-list .container .list-wrap .country-item .flag {
    width: 9.6vw;
    height: auto;
}
.country-list .container .list-wrap .country-item .msg {
    font-size: 3.733vw;
    color: #fff;
    margin-left: 4vw;
}
.country-list .container .list-wrap .country-item .country-status {
    font-size: 3.2vw;
    color: #fff;
}
.country-list .container .list-wrap .country-item .country-status .status-img {
    width: 5.867vw;
    height: 5.867vw;
}
.J-country-list,.J-target-list{
    z-index: 1002;
    width:100%;
}
/*隐藏下拉菜单 end*/
/*20211214汇率转换 end*/
/*20220116优惠金额 */
.czlx_main .choose-yh{
    min-height: 2.5rem;
    max-height: 4.5rem;
    padding: 0.125rem 0rem!important;
}
.czlx_main .choose-yh span{
    display:inline-block;
    padding:0rem 0rem!important;
}
.landing_me_yh{
    transform: scale(0.9);
}
.czlx_main .selected span.landing_me_yh,.czlx_main .selected span.landing_me_yh span{
	text-align: center;
	color:#ff0000!important;
}
.landing_btn_yh{
	text-align: center;
	color:#666;
	font-size: 0.9rem;
}
/*20220116优惠金额 end*/
/*20220315超时赔付*/
.ub-cspf-bg{
    background-color: rgb(238,245,255);
}
.ub-cspf img{
	width:1.5rem;
}
/*20220315超时赔付end*/
/*20220321hot页面更新*/
/*美元*/
.menu_main{
    height: 2.8rem;
    background: #3B8CFE;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -ms-flex-align: center;
    -webkit-box-align: center;
    box-align: center;
    -webkit-align-items: center;
    align-items: center;
    padding: 0 0.3rem;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    position: relative;
    color: #FFFFFF;
    font-size: 0.8rem;
    z-index: 1000;
}
.menu_currency{
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
}
.menu_left .menu_currencyImg {
    width: 1.2rem;
    height:0.8rem;
    margin-top:0.2rem;
}
.menu_left .menu_currencyText {
    margin-left: 0.1rem;
    font-size: 0.8rem;
}
.menu_left .menu_currencySelect{
    width: 0.5rem;
    height: 0.3rem;
    margin-top: 0.5rem;
    margin-left: 0.2rem;
}
.menu_center {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    display: block;
}
.menu_logo {
    width: 1.54rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.menu_right {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -ms-flex-align: center;
    -webkit-box-align: center;
    box-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.search-click{
    width:2rem
}
.search-back{
    width:1.2rem
}
/*美元下拉*/
.menu_currencyBox {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow:hidden;
    top: 2.8rem;
    left: 0;
    z-index: 1001;
    display: none;
}
.menu_currencyBg {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    animation: currency_hide 0.3s forwards;
}
.menu_currencyUl {
    position: absolute;
    width: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding: 0.5rem;
    top: 0;
    background: #fff;
    border-radius: 0 0 1rem 1rem;
    animation: currency_close 0.3s forwards;
}
.menu_currencyLi {
    margin-left: 0.18rem;
    width:45%;
    background: #FAFAFA;
    border-radius: 1rem;
    padding: 0.25rem 0.5rem;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -ms-flex-align: center;
    -webkit-box-align: center;
    box-align: center;
    -webkit-align-items: center;
    align-items: center;
    float: left;
    margin-top: 1rem;
    margin-left:1rem;
    font-size: 0.8rem;
}
.menu_currencyLi.menu_currencyLiSelect {
    background: #EDF4FF;
}
.menu_currencyLi:nth-child(2n-1) {
    margin-left: 0;
}
.cf_ckLabel {
    font-size: 0.8rem;
    display: block;
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -ms-flex-align: center;
    -webkit-box-align: center;
    box-align: center;
    -webkit-align-items: center;
    align-items: center;
    justify-content: flex-start;
}
.cf_ckLabel .menu_currencyImg{
    width:1.2rem;
    height:0.8rem;
    margin: 0rem 0.2rem;
}
.menu_currencySymbol {
    padding-left: 0.1rem;
    color: #949EA3;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    display: block;
}

.ichekcbox, .iradio {
    display: inline-block;
    vertical-align: middle;
    width: 1.5rem;
    height: 1.5rem;
    margin-top:0.2rem;
    border: none;
}
.iradio.checked {
    background: url(../images/hot/icon_check_active.png) no-repeat;
    background-size: 100%;
}
.iradio {
    background: url(../images/hot/icon_check_link.png) no-repeat;
    background-size: 100%;
}
.iCheck-helper{
    position: absolute;
    top: 0%;
    left: 0%;
    display: block;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    background: rgb(255, 255, 255);
    border: 0px;
    opacity: 0;
}
/*隐藏search*/

.search-box{
    position: fixed;
    z-index: 1011;
    width: 100%;
    height: 2.8rem;
    background:#fff;
    top: 0;
    left: 0;
    display: none;
}
/*search*/  
.menu_searchBtn {
    border: none;
    background: none;
}
.home_searchBox {
    width: 70%;
    margin-left: 0;
    background: #EBECF0;
}
.home_searchBox input{
    color: #030303;
}
/*热门推荐*/
.ub-title{
    background:#fff url(../images/hot/tab_li.png) no-repeat 0.5rem center;
    background-size:5px 16px;
    padding-left:1.5rem;
}
.slide-box-x{
    height:6.5rem;
    width:100%;
    overflow-y:hidden;
    overflow-x:scroll;
    white-space:nowrap;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
}
.slide-active{
    border: 1px solid rgba(16,141,232,1);
    box-sizing: border-box;
    background:#fff url(../images/hot/landing_19.png) bottom right no-repeat;
    background-size: 1rem ;
}
.slide-item-img{
    width: 4.5rem;
    float: left;
    height: 4.5rem;
}
.slide-item-img img {
    width: 3.5rem;
    height: 3.5rem;
    padding: 0.5rem;
}
.slide-item-text{
    float: left;
    text-align: center;
    width: 4.5rem;
    font-size: 0.8125rem;
    overflow:hidden;
    white-space:nowrap;
    /*text-overflow:ellipsis;*/
}
.bc-dashed{
    border-top:1px dashed #eee;
}
/*20220321hot页面更新*/
/*20220324列表页goods*/
.menu_center h3{
    margin-left:-1.5rem;
}
.newLanding_shadeTitle {
    font-size: 1rem;
    height:3rem;
    line-height:3rem;
    text-align: center;
    position: relative;
    border-bottom: 1px solid #E6EAEF;
    box-sizing: border-box;
    margin: auto;
}
.newLanding_shadeMain {
    padding-top: 0.5rem;
    overflow-y: auto;
    box-sizing: border-box;
}

.newLanding_shadeDl {
    float: left;
    width: 22%;
    height: 5.5rem;
    margin-left: 0.5rem;
    padding-top: 0.5rem;
    box-sizing: border-box;
    border-radius: 0.5rem;
    position: relative;
    margin-bottom: 1rem;
    background: rgba(59, 140, 254, 0.08);
}
.newLanding_shadeDt {
    width: 3.5rem;
    height: 3.5rem;
    margin: auto;
    display: block;
}
.newLanding_shadeDtImg {
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 0.5rem;
}
.newLanding_shadeDd {
    font-size: 0.8rem;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin: auto;
    margin-top: 0.25rem;
    color:#000;
}
.umh05{
    min-height:0.5rem;
}
/*左下角我的订单*/
.ask_boxLand{
    width: 6rem;
    position: fixed;
    bottom: 3rem;
    left: 0px;
    z-index: 9999;
    height: 2rem;
}
.ask_boxLand a{
    background: linear-gradient(270deg, #2EA2E2 0%, #3B8CFE 100%);
    height: 2rem;
    line-height: 2rem;
    display: flex;
    margin-top: 0rem;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
}
.ask_boxLand .ask_img {
    width: 1.2rem;
    height: 1.2rem;
    position: absolute;
    left: 0.15rem;
    margin-top: 0.35rem;
}

.ask_boxLand .ask_text {
    font-size: 1rem;
    color: #fff;
    flex: 1;
    margin-left: 0.9rem;
    text-align: center;
}
/*20220324列表页goods end*/
.product-price {
    min-height: 2rem;
    max-height: 4rem;
    padding: 0.375rem 0rem!important;
}
   
.product-price span {
    padding: 0rem 0.375rem!important;
}
.product-choose {
    min-height: 1rem;
    padding: 0.5rem 0rem!important;
}
/*20220613 zxx接触绑定微信弹出框*/
.popup_box{
    display: none;
}
.popup_wrapper{
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color:rgba(0,0,0,0.5);
    z-index:999;
    display:flex;
    justify-content: center;
    align-items: center;
    
}
.popup{
    box-sizing: border-box;
    width:80%;
    height:auto;
    background:#fff;
    text-align: center;
    border-radius: 4px;
}
.popup_title{
    font-size: 1.2rem;
    font-weight: 600;
    color:#000;
    margin-bottom: 1.5rem;
    margin-top:2rem;
}
.popup_text{
    font-size: 1rem;
    margin-bottom: 1.5rem;
}
.popup_btnWrapper{
    width:100%;
    margin:0 auto;
    display: flex;
    justify-content: space-between;
    border-top:1px solid #ddd;
}

.popup_wrapper button{
    width:49.5%;
    text-align: center;
    cursor: pointer;
    background:#fff;
    border:none;
    padding:1rem 0;
    font-size:1rem;
}
.popup_wrapper button:focus{
    outline: 0;
}
.popup_yesBtn{
    color:#ff6600;
    font-weight:600;
    border-left:1px solid #ddd!important;
}
/*20220613 zxx接触绑定微信弹出框end*/
/*20220618 zxx添加价格投诉按钮*/
.gtc-act-integral{
    margin: 0rem 0.5rem 0.75rem;
}
.gtc-act-integral .tag {
    background: #1a9af5;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    color: #fff;
	cursor: pointer;
    font-size: 0.8125rem !important;
}
.gtc-act-integral .desc {
    color: #282828;
    margin-left: 0.5rem;
    background: url(../image/jgts.png) left center no-repeat;
    background-size: 1rem 1rem;
    padding-left: 1.25rem;
}
.gtc-act-integral .num {
    color: #1a9af5;
}
/*20220618 zxx添加价格投诉按钮end*/