/*轮播banner*/
#slide{
    position: relative;
    top: 0rem;
    width: 100%;
    left: 0%;
    height:8rem ;
    overflow:hidden;
}
#slide img{
    width:100%;
    height:100%;
    border-radius:0rem;
}
#slide .ico{
    position:absolute;
    right:46%;
    bottom:0.25rem;
}
#slide .ico li{
    background:#fff;
    float:left;
    display:block;
    width:0.5rem;
    height:0.5rem;
    border-radius:50%;
    text-align:center;
    margin:0.25rem;
    padding:1px;
}
#slide .ico li.high{
    background:#4d93e3;
    color:#4d93e3;
    font-weight:bolder;
}