.btn {
    padding: .2rem 0.9rem;
    min-height: 2.2rem;
    font-size: 1rem;
    text-align: center;
}

.nav-btn {
    min-height: 2rem;
    min-width: 4rem;
    display: -webkit-box !important;
    display: box !important;
    position: relative;
    -webkit-box-align: center;
    box-align: center;
    -webkit-box-pack: center;
    box-pack: center;
}

.btn-act {
    opacity: 0.6
}

.uinput input, .uinput textarea {
    margin: 0px;
    border: 0px;
    width: 100%;
    height: 100%;
    -webkit-appearance: none;
    padding: .4rem 0;
    line-height: 1.2rem;
    background: none;
    text-decoration: none;
    font-size: 1rem;
    display: block;
}

.uinput textarea {
    min-height: 5rem;
}

.checkbox, .radiobox {
    width: 1.8rem;
    height: 1.8rem;
}

.checkbox input[type=checkbox], .radiobox input[type=radio] {
    -webkit-appearance: none;
    background-color: transparent;
    outline: 0 !important;
    border: 0;
    font-size: 0.8rem !important;
}

.checkbox input[type=checkbox]:before, .radiobox input[type=radio]:before {
    display: inline-block;
    text-align: center;
    font: normal normal normal 14px/1 FontAwesome;
    /*font-size: 1.8rem;*/
    font-size:1.5rem;
    font-weight: thin;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: rgb(212,212,212);
}

.checkbox input[type=checkbox]:checked:before, .radiobox input[type=radio]:checked:before {
   color:#4286f4
}

.checkbox input[type=checkbox]:before {
    content: "\f096";
}

.checkbox input[type=checkbox]:checked:before {
    content: "\f14a";
}

.radiobox input[type=radio]:before {
    content: "\f1db";
}

.radiobox input[type=radio]:checked:before {
    content: "\f192";
}

.select {
    display: -webkit-box !important;
    display: box !important;
    position: relative;
    -webkit-box-align: center;
    box-align: center;
    -webkit-box-pack: center;
    box-pack: center;
    min-height: 2rem;
    padding: 0.1rem 0.3rem;
}

.select select {
    left: 0;
    top: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    -webkit-appearance: none;
    border: 0;
}

.select .icon:before {
    width: 1rem;
    height: 1rem;
    display: -webkit-box !important;
    display: box !important;
    position: relative;
    -webkit-box-align: center;
    box-align: center;
    -webkit-box-pack: center;
    box-pack: center;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 1.5rem;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\f107";
}

.select .text {
    -webkit-box-flex: 1;
    box-flex: 1;
    padding: 0 1rem;
}

.lis {
    padding: 0.5rem;
    min-height: 2rem;
}

.lis-icon {
    width: 4rem;
    margin: 0rem 0.4rem 0rem 0rem;
    min-height: 4rem;
}

.lis-icon-s {
    width: 2rem;
    margin: 0rem 0.4rem 0rem 0px;
    min-height: 2rem;
}

.lis-icon-ss {
    width: 1.3rem;
    margin: 0rem 1rem 0rem 0px;
    min-height: 1.3rem;
}

.lis.group{
    min-height:1.6rem;
    padding:0.1em;
}

.treeview {

}
.treeview .treeview-header{
    min-height: 2rem;
}
.treeview .listview {
    margin-left: 2rem;
}

.tab_m {
    height: 3rem;
}

.tab_l {
    height: 2rem;
}

.tab_i {
    height: 2.3rem;
}

.tab_badge {
    position: absolute;
    width: 1rem;
    height: 1rem;
    right: 1rem;
    top: 0.3rem;
    -webkit-border-radius: 1.2rem;
    border-radius: 1.2rem;
    text-align: center;
}

.tab_m .item {
    padding: 0.3rem 0
}
.tab_l .item {
    padding: 0.7rem 0
}
.tab_i .item {
    padding: 0.4rem 0
}

.tab_m .focus {
    position: absolute;
    height: 100%;
}

.tab_i .focus, .tab_l .focus,.slider .focus {
    position: absolute;
    height: 2px;
    bottom: 0px;
}

.switch {
    display: inline-block;
    min-width: 4.5rem;
    min-height: 1.7rem;
    -webkit-border-radius: 1.4rem;
    border-radius: 1.4rem;
}

.listview .switch, .lis .switch {
    display: -webkit-box !important;
}

.switch-mini {
    min-width: 3rem;
}

.switch-btn {
    position: absolute;
    width: 1.7rem;
    height: 1.7rem;
    -webkit-border-radius: 1.4rem;
    border-radius: 1.4rem;
    -webkit-box-shadow: 0 1px 4px rgba(120, 120, 120, .3);
    box-shadow: 0 1px 4px rgba(120, 120, 120, .3);
    top: 0px;
    left: 0px;
    right: auto;
    -webkit-transition: all 300ms;
}

.switch.switch-mini[data-checked="true"] .switch-btn {
    -webkit-transform: translate3d(1.3rem,0,0);
    transform: translate3d(1.3rem,0,0);
    left: auto;
}

.switch[data-checked="true"] .switch-btn {
    -webkit-transform: translate3d(2.8rem,0,0);
    transform: translate3d(2.8rem,0,0);
    left: auto;
}
.switch[data-checked="true"]:before {
    content: "ON";
    color: white;
    position: absolute;
    top: 0.35rem;
    left: 0.8rem;
}
.switch:before {
    content: "OFF";
    color: gray;
    position: absolute;
    top: 0.35rem;
    right: 0.5rem;
}
.switch.switch-mini:before {
    display: none;
}

.uinvisible {
    width: 0px;
    height: 0px;
    margin: 0px;
    border: 0px;
    background: none;
    text-decoration: none;
}
.slider {
    position: relative;
    width: 100%;
    overflow: hidden;
}
.slider .slider-group {
    position: relative;
    font-size: 0;
    white-space: nowrap;
    -webkit-transition: all 0s linear;
    transition: all 0s linear;
    -webkit-backface-visibility: hidden;
}

.slider .slider-group.slider-anim {
    -webkit-transition-duration: 300ms
}
.slider .slider-item {
    position: relative;
    display: inline-block;
    font-size: 1rem;
}

.slider .label{
    height:1.5rem;
    background-color:rgba(0,0,0,0.8);
    width: 100%;
    position: absolute;
    left: 0px;
    bottom: 0px
}
