/*****************************************/
/*基础header颜色*/
.bc-head {
    background: linear-gradient(to right,#45beff,#0894df);
}
/*****************************************/
/*基础body背景颜色*/
.bc-bg {
    background-color: #f3f3f3;
}
.sc-bg-black {
    background-color: #000000;
}
/*辅助控件背景颜色*/
.sc-bg {
    background-color: #FFFFFF;
}
/*辅助控件背景颜色*/
.sc-bg-active {
    background-color: #EEEEEE;
}
/*警告背景色*/
.sc-bg-alert {
    background-color: #F16412;
    background:transparent
}
.sc-bg-shop{
    background:#ff0000
}
/*****************************************/
/*基础字体颜色*/
.bc-text {
    color: black;
}
/*基础标题字体颜色*/
.bc-text-head {
    color: white;
}
.bc-text-transparent{
    color:transparent
}
/*辅助字体颜色*/
.sc-text {
    color: #848484;
}
.sc-text1 {
    color: #ddd;
}
.sc-gray{
    color:#f3f3f3
}
/*辅助字体颜色*/
.sc-text-active {
    color: #4286f4 !important;
}
/*辅助字体颜色*/
.sc-text-hint {
    color: #999;
}
/*辅助字体颜色*/
.sc-text-warn {
    color: #FC7800;
}
/*辅助字体颜色*/
.sc-text-tab {
    color: #636363;
}
.sc-text-red {
    color: #ff0000;
}
/*****************************************/
/*基础边框颜色*/
.bc-border {
    border-color: #BABABA;
}
.bc-border1 {
    border-color: #ddd;
}
/*辅助边框颜色*/
.sc-border {
    border-color: #FFFFFF;
}
.sc-border-tab {
    border-color: #dd3030;
}
/*****************************************/
/*基础按钮颜色*/
.bc-btn {
    background: linear-gradient(to right,#45beff,#0894df);
}
/*辅助按钮颜色*/
.sc-btn {
    background-color: #f0c02f;
}
.sc-btn-red{
    background-color: #f15352;
} 
.sc-shop-btn{
    background-color:#e66318
}
.sc-bg-active{
    background-color: #4286f4;
}


